In [1]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
plt.style.use('ggplot')
plt.rcParams.update({'font.size': 20})

In [2]:
pd.set_option('display.max_rows', 500)
pd.set_option('display.max_columns', 500)

# Import Liquor Sales database

In [3]:
%%time
sales = pd.read_csv('../../data/Iowa_Liquor_Sales.csv')

/opt/conda/lib/python3.9/site-packages/IPython/core/magics/execution.py:1324: DtypeWarning: Columns (6,14) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code, glob, local_ns)

CPU times: user 1min 7s, sys: 24.4 s, total: 1min 32s
Wall time: 1min 32s

In [4]:
sales.columns

Index(['Invoice/Item Number', 'Date', 'Store Number', 'Store Name', 'Address',
       'City', 'Zip Code', 'Store Location', 'County Number', 'County',
       'Category', 'Category Name', 'Vendor Number', 'Vendor Name',
       'Item Number', 'Item Description', 'Pack', 'Bottle Volume (ml)',
       'State Bottle Cost', 'State Bottle Retail', 'Bottles Sold',
       'Sale (Dollars)', 'Volume Sold (Liters)', 'Volume Sold (Gallons)'],
      dtype='object')

In [5]:
print('The number of rows: ', sales.shape[0])

The number of rows:  23154845

In [6]:
print('The number of features: ', sales.shape[1])

The number of features:  24

In [7]:
print('The datatypes in the dataframe:')
sales.dtypes.unique()

The datatypes in the dataframe:

array([dtype('O'), dtype('int64'), dtype('float64')], dtype=object)

In [8]:
sales.head(10)

,Invoice/Item Number,Date,Store Number,Store Name,Address,City,Zip Code,Store Location,County Number,County,Category,Category Name,Vendor Number,Vendor Name,Item Number,Item Description,Pack,Bottle Volume (ml),State Bottle Cost,State Bottle Retail,Bottles Sold,Sale (Dollars),Volume Sold (Liters),Volume Sold (Gallons)
0,S24032900031,02/16/2015,3385,Sam's Club 8162 / Cedar Rapids,2605 BLAIRS FERRY RD NE,CEDAR RAPIDS,52402,POINT (-91.67969 42.031819),57.0,Linn,1041100.0,AMERICAN DRY GINS,55.0,Sazerac North America,29287,Barton Gin,12,1000,3.92,5.88,24,141.12,24.00,6.34
1,S25392600010,04/30/2015,5034,Liquor Tobacco & Groceries,18 N MONROE AVE,MASON CITY,50401,POINT (-93.208614 43.152301),17.0,Cerro Gordo,1011200.0,STRAIGHT BOURBON WHISKIES,434.0,Luxco-St Louis,18196,Ezra Brooks 50 Mo Ky Sour Mash Bourbon,12,750,6.84,10.26,12,123.12,9.00,2.38
2,S08041400024,10/01/2012,2500,Hy-Vee Food Store #1 / Ames,3800 W LINCOLN WAY,AMES,50010,NaN,85.0,Story,1081300.0,PEPPERMINT SCHNAPPS,434.0,Luxco-St Louis,81406,Thunder 101 Peppermint Schnapps,12,750,6.50,9.75,12,117.00,9.00,2.38
3,S13626800019,07/30/2013,4203,Liquor and Tobacco Outlet /,620 W BREMER AVE,WAVERLY,50677,POINT (-92.47898 42.725694),9.0,Bremer,1062200.0,PUERTO RICO & VIRGIN ISLANDS RUM,434.0,Luxco-St Louis,45276,Paramount White Rum,12,750,3.85,5.77,12,69.24,9.00,2.38
4,S20264600081,07/23/2014,4509,A J'S LIQUOR II,2515 CHAMBERLAIN,AMES,50010,POINT (-93.650838 42.021461),85.0,Story,1032080.0,IMPORTED VODKA,277.0,Stoli Group,34729,Stolichnaya Elit Vodka,6,750,29.99,44.99,1,44.99,0.75,0.20
5,S04724800133,03/26/2012,2634,Hy-Vee Wine and Spirits / Ames,3615 LINCOLN WAY,AMES,50014,POINT (-93.667932 42.022911),85.0,Story,1012100.0,CANADIAN WHISKIES,260.0,Diageo Americas,11347,Seagrams V.o. Bl Canadian Whisky,12,1000,9.49,14.24,2,28.48,2.00,0.53
6,S22974600041,12/16/2014,4102,Fareway Stores #386 / Ames,619 BURNETT AVE,AMES,50010,POINT (-93.615428 42.027426),85.0,Story,1081010.0,AMERICAN AMARETTO,434.0,Luxco-St Louis,76486,Paramount Amaretto,12,750,3.38,5.07,6,30.42,4.50,1.19
7,S13716500005,08/07/2013,4862,Pronto Market / Kingsley,101 MAIN ST,KINGSLEY,51028,POINT (-95.967322 42.58707400000001),75.0,Plymouth,1022100.0,TEQUILA,421.0,"Sazerac Co., Inc.",88768,Tortilla White Tequila,6,1750,12.83,19.24,6,115.44,10.50,2.77
8,S04414200031,03/06/2012,2522,Hy-Vee Wine and Spirits / Spirit Lak,HWY 9 & 71,SPIRIT LAKE,51360,NaN,30.0,Dickinson,1031100.0,100 PROOF VODKA,300.0,Mccormick Distilling Company,36908,Mccormick Vodka Pet,6,1750,7.46,11.19,6,67.14,10.50,2.77
9,S23072400091,12/20/2014,2508,Hy-Vee Food Store #1 / Cedar Rapids,"1843 JOHNSON AVENUE, N.W.",CEDAR RAPIDS,52405,POINT (-91.697941 41.97447),57.0,Linn,1012100.0,CANADIAN WHISKIES,115.0,"Constellation Wine Company, Inc.",10548,Black Velvet Toasted Caramel,6,1750,12.99,19.49,6,116.94,10.50,2.77

In [9]:
%%time
product_df = pd.read_csv('../../data/Iowa_Liquor_Products.csv')

CPU times: user 31.2 ms, sys: 0 ns, total: 31.2 ms
Wall time: 29 ms

In [10]:
# Get rid of spaces in column names
sales.columns = sales.columns.str.replace(' ','')
product_df.columns = product_df.columns.str.replace(' ','')

In [11]:
sales.columns

Index(['Invoice/ItemNumber', 'Date', 'StoreNumber', 'StoreName', 'Address',
       'City', 'ZipCode', 'StoreLocation', 'CountyNumber', 'County',
       'Category', 'CategoryName', 'VendorNumber', 'VendorName', 'ItemNumber',
       'ItemDescription', 'Pack', 'BottleVolume(ml)', 'StateBottleCost',
       'StateBottleRetail', 'BottlesSold', 'Sale(Dollars)',
       'VolumeSold(Liters)', 'VolumeSold(Gallons)'],
      dtype='object')

In [12]:
product_df.columns

Index(['ItemNumber', 'CategoryName', 'ItemDescription', 'Vendor', 'VendorName',
       'BottleVolume(ml)', 'Pack', 'InnerPack', 'Age', 'Proof', 'ListDate',
       'UPC', 'SCC', 'StateBottleCost', 'StateCaseCost', 'StateBottleRetail',
       'ReportDate'],
      dtype='object')

In [13]:
product_df['ItemNumber'].nunique()

10356

In [14]:
sales['Date']= pd.to_datetime(sales['Date'])

# Clean & Create Product Table

In [15]:
product_col = ['ItemNumber',
            'ItemDescription',
            'Category',
            'CategoryName',
            'VendorNumber',
            'Date']

product = sales[product_col].copy()

## ðŸ§¹ Data Cleaning - Product Table

In [16]:
# Rename some columns
product.rename(columns = {'ItemNumber':'ProductID',
                          'ItemDescription':'ProductDescription',
                          'Category':'CategoryCode',
                          'VendorNumber':'VendorID'}, inplace = True)
# Make lower-case
product['CategoryName'] = product['CategoryName'].str.lower()
product['ProductDescription'] = product['ProductDescription'].str.lower()

In [17]:
product.head()

,ProductID,ProductDescription,CategoryCode,CategoryName,VendorID,Date
0,29287,barton gin,1041100.0,american dry gins,55.0,2015-02-16
1,18196,ezra brooks 50 mo ky sour mash bourbon,1011200.0,straight bourbon whiskies,434.0,2015-04-30
2,81406,thunder 101 peppermint schnapps,1081300.0,peppermint schnapps,434.0,2012-10-01
3,45276,paramount white rum,1062200.0,puerto rico & virgin islands rum,434.0,2013-07-30
4,34729,stolichnaya elit vodka,1032080.0,imported vodka,277.0,2014-07-23

In [18]:
product.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23154845 entries, 0 to 23154844
Data columns (total 6 columns):
 #   Column              Dtype
---  ------              -----
 0   ProductID           object
 1   ProductDescription  object
 2   CategoryCode        float64
 3   CategoryName        object
 4   VendorID            float64
 5   Date                datetime64[ns]
dtypes: datetime64[ns](1), float64(2), object(3)
memory usage: 1.0+ GB

In [19]:
product.shape[0]

23154845

### I. Looking at ProductID numbers with missing CategoryCode data

In [20]:
# Converting all of these to strings, some are numeric, others are strings
# cannot convert to numeric because I get an error for a combo ID, e.g. x1000 (not a real ID)
product['ProductID'] = product['ProductID'].apply(str)

In [21]:
# Which ProductID numbers are missing CategoryCode data?
ProductIDs_missing_category = product.loc[product['CategoryCode'].isnull(),'ProductID'].unique()
ProductIDs_missing_category

array(['3337', '59100', '1488', '893', '22227', '994992', '475', '3005',
       '725', '3345', '1475', '297', '36390', '2992', '900674', '927221',
       '333', '84197', '36122', '457', '80024', '988849', '941836',
       '984393', '920376', '986771', '940020', '73685', '912306',
       '905447', '967341', '940146', '994797', '965646', '934065',
       '946916', '964018', '40569', '994771', '927367', '982756', '72434',
       '100015', '27849', '918326', '945421', '2313', '62920', '163',
       '3360', '916839', '100005', '100080', '33508', '349', '115',
       '940055', '133', '988063', '76436', '86624', '66518', '900199',
       '43086', '3465', '100046', '100025', '27141', '977256', '916666',
       '758', '490', '558', '145', '100041', '77744', '40005', '100026',
       '100033', '359', '364', '2629', '10549', '212', '51199', '27850',
       '641', '100360', '559', '48181', '64986', '89155', '53210',
       '43117', '3135', '927114', '985556', '985555', '994811', '985557',
       '995674', '987407', '920676', '985554', '985553', '976047',
       '100022', '900419', '34736', '989624', '930853', '994046',
       '995509', '940831', '921946', '917677', '965986', '944561',
       '976642', '942462', '935543', '967036', '78059', '976641',
       '919040', '942332', '943280', '964049', '905608', '973508',
       '987955', '987952', '987951', '928420', '915951', '933933',
       '984399', '927357', '986515', '926684', '943546', '997877',
       '926732', '942330', '922178', '928270', '902152', '901636',
       '926491', '926786', '928271', '881', '12863', '217', '633', '4055',
       '943458', '2511', '44259', '35698', '940591', '19560', '155',
       '77573', '3201', '900480', '943675', '929570', '73206', '904596',
       '940013', '927543', '964694', '940576', '80130', '977872',
       '927798', '27829', '905118', '944489', '994405', '985298', '84144',
       '84152', '100068', '84151', '38176', '43442', '77322', '43439',
       '40649', '77902', '80144', '68042', '80128', '77903', '80145',
       '699', '693', '100135', '935863', '927080', '986677', '428', '108',
       '72730', '41941', '124', '980428', '73684', '100006', '934697',
       '14486', '76668', '76024', '985603', '36410', '104', '160', '139',
       '58892', '127', '129', '36352', '561', '48182', '101', '958814',
       '900477', '58882', '86747', '227', '2382', '89174', '927368',
       '71902', '64674', '73645', '100065', '45869', '901289', '901290',
       '901293', '65788', '900754', '900478', '987873', '900484',
       '900482', '987882', '900487', '987872', '987883', '901296',
       '987870', '900752', '900485', '901294', '987869', '904751',
       '28656', '28638', '919044', '900420', '900750', '900481', '956417',
       '977877', '934958', '43990', '900486', '900483', '965015',
       '987875', '900479', '901288', '987885', '915608', '987884',
       '995209', '995218', '995214', '995216', '995508', '995217',
       '973624', '995210', '995215', '995207', '995213', '995208',
       '995212', '995211', '940909', '928096', '905211', '936206',
       '947546', '990185', '964854', '900476', '994873', '994874',
       '901134', '902129', '987888', '995756', '984162', '905433',
       '987886', '988833', '935969', '927516', '900421', '927833',
       '935743', '905234', '905380', '904754', '100227', '3273', '100229',
       '100282', '63781', '41127', '36374', '10840', '63865', '28888',
       '41467', '76664', '477', '982601', '86627', '161', '168', '80437',
       '56802', '967599', '978867', '905309', '984367', '942063',
       '900451', '954137', '905199', '980505', '249', '237', '929969',
       '989203'], dtype=object)

In [22]:
%%time
# if CategoryCode information is available on other rows, use the last CategoryCode & Category Name to fill in the information
for ID in ProductIDs_missing_category:
    # print(ID)
    temp = product.loc[product['ProductID'].isin([ID])] # create a smaller table of this product id
    temp = temp.sort_values(['Date'])
    ncodes_with_data = temp['CategoryCode'].nunique() 
    # print(ncodes_with_data)
    temp_notnull = temp.loc[temp['CategoryCode'].notnull()]

    # print(temp_notnull)
    if ncodes_with_data > 0:
        product.loc[((product['ProductID'].isin([ID]))&(product['CategoryCode'].isnull())),'CategoryName'] = temp_notnull['CategoryName'][temp_notnull.index[-1]]
        product.loc[((product['ProductID'].isin([ID]))&(product['CategoryCode'].isnull())),'CategoryCode'] = temp_notnull['CategoryCode'][temp_notnull.index[-1]]

CPU times: user 11min 18s, sys: 502 ms, total: 11min 19s
Wall time: 11min 19s

In [23]:
# The remaining ProductID numbers that are still missing CategoryCode data
product.loc[product['CategoryCode'].isnull(),'ProductID'].unique()

array(['3337', '22227', '994992', '1475', '2992', '900674', '927221',
       '333', '994771', '940055', '133', '900199', '758', '145', '100041',
       '100026', '100033', '359', '364', '2629', '212', '100360', '559',
       '995674', '100022', '930853', '995509', '967036', '78059',
       '933933', '997877', '881', '19560', '929570', '964694', '994405',
       '100068', '108', '104', '160', '48182', '101', '2382', '904751',
       '43990', '965015', '995209', '995218', '995214', '995216',
       '995217', '995210', '995215', '995207', '995213', '995208',
       '995212', '995211', '905211', '990185', '994873', '994874',
       '995756', '984162', '905433', '927516', '927833', '905234',
       '100227', '3273', '100229', '100282', '984367', '905199', '237',
       '929969', '989203'], dtype=object)

### II. Using ProductDescription enteries to manually fill CategoryName

In [24]:
product.isnull().sum(axis = 0)

ProductID                 0
ProductDescription        0
CategoryCode           2441
CategoryName          10507
VendorID                  9
Date                      0
dtype: int64

In [25]:
# Looking at missing category codes, and pulling the product descriptions
product.loc[product['CategoryCode'].isnull(),'ProductDescription'].unique()

array(['wild turkey american honey shot tap',
       'woodford reserve mc 1838 white corn',
       'glenfiddich 1963 replica ha', 'bombay sapphire w/glass',
       'caravella limoncello w/glass', 'chivas regal 18yr tin ha',
       'parkers heritage collection malt whiskey ha',
       'jack daniels tn honey & jack daniels tn fire 750mls w/2gls',
       'diplomatico reserva exclusiva', 'deep eddy  lemon vodka',
       'tequila rose holiday w/1 collins glass', 'ha seven devils',
       'woodford reserve w/2 glasses', 'bird dog blackberry w/glass',
       'hennessy v.s.o.p privilege w/2 glasses',
       'absolut w/fever tree ginger beer',
       'disaronno amaretto etro w/2 glasses',
       'crown royal w/2 glasses tray pack',
       'bird dog peach w/2 shot glasses',
       'southern comfort w/cocktail shaker', 'bird dog apple w/glass',
       'prairie organic vodka w/mug',
       'crystal head vodka w/2 skull glasses',
       'kings county distillery chocolate whiskey',
       'forty creek w/thermos', 'letherbee gin',
       'bains cape mountain whiskey',
       'sooh diplomatico reserva exclusiva', 'tarantula azul',
       'barrel buffalo bill', 'pearl blueberry',
       'don amado mezcal rustico', "jack daniel's hispanic w/2 glasses",
       "maker's mark red, white & blue", 'ty ku coconut',
       'patron citronge mango', 'valentine vodka',
       'cedar ridge american whiskey explorer pack',
       'midnight moon cran-apple pie',
       "broker's gin holiday w/1 collins glass",
       'chivas regal 12yr w/50ml chivas extra & chivas 18yr',
       "hennessy master blender's selection",
       'stolichnaya 80prf w/2 stemless martini glasses',
       'belvedere pure w/martini glass', "michter's us*1 sb rye",
       'admiral nelson black patch mini', "galliano l'autentico",
       'spanish single malt 200ml', 'barbados rum 1 liter',
       'barbados rum 100ml', 'barbados rum 375ml', 'barbados rum 750ml',
       'spanish single malt 375ml', 'barbados rum 200 ml',
       'spanish single malt 50ml', 'barbados rum 50ml',
       'spanish single malt 100ml', 'spanish single malt 1 liter',
       'spanish single malt 750ml', 'ha glenmorangie bacalta disco',
       'patron silver 750 box tray pack', 'green absinthe',
       'red absinthe', 'deanston organic 14yr',
       'calvados morin selection 3yr', 'laphroaig quarter cask',
       'michters us*1 small batch',
       'ha abraham bowman wine finish whiskey',
       'ha highland park ice edition disco',
       'glen moray scotch classic port cask w/2 glasses',
       'zaya gran reserva rum w/2 rocks glasses',
       'southern comfort w/2 rock glasses',
       'glen moray classic chardonnay cask finish w/2 glasses',
       'mr boston sour apple schnapps', 'ha glendronach peated',
       'pearl blueberry vodka', 'knob creek w/ crystal decanter',
       'dry fly gin', '1800 reposado'], dtype=object)

In [26]:
# use the Product description to MANUALLY fill the CategoryName
# the idea is that these will get categorized correctly when we split the categories into groups
substrings = ['whisk','limoncello','jack daniel','vodka','tequila','mezcal', 'bird dog','hennessy','beer', 
              'amaretto', 'crown royal', 'southern comfort','forty creek', 'gin', 'tarantula azul','mark',
              'patron', 'chivas','stolichnaya', 'belvedere','malt','rum','scotch',
              'glen moray classic chardonnay','schnapps','1800 reposado','wild turkey american honey',
              'woodford reserve','glenfiddich 1963','bombay sapphire','woodford reserve','absolut',
              'ty ku','michter','admiral nelson black','galliano','glenmorangie','absinthe',
              'deanston','calvados morin','laphroaig','highland park','glendronach','knob creek',
             'diplomatico reserva','seven devils','midnight moon cran-apple pie']
thenames = ['whiskey - manual add', 
            'liqueur - manual add', 
            'whiskey - manual add',
            'vodka - manual add', 
            'tequila - manual add', 
            'tequila - manual add',
            'whiskey - manual add',
            'brandy - manual add',
            'beer - manual add',
            'amaretto - manual add', 
            'whiskey - manual add',
            'whiskey - manual add',
            'whiskey - manual add', 
            'gin - manual add',
            'tequila - manual add',
           'bourbon - manual add',
           'tequila - manual add',
           'whiskey - manual add',
           'vodka - manual add',
           'vodka - manual add',
           'whiskey - manual add',
           'rum - manual add',
           'scotch - manual add',
           'scotch - manual add',
           'schnapps - manual add',
           'tequila - manual add',
           'liqueur - manual add',
           'whiskey - manual add',
           'scotch - manual add',
           'gin - manual add',
           'whiskey - manual add',
           'vodka - manual add',
           'sake - manual add',
           'whiskey - manual add',
           'rum - manual add',
           'liqueur - manual add',
           'whiskey - manual add',
           'spirit - manual add',
           'whiskey - manual add',
           'brandy - manual add',
           'whiskey - manual add',
           'scotch - manual add',
           'whiskey - manual add',
           'bourbon - manual add',
           'rum - manual add',
           'whiskey - manual add',
           'whiskey - manual add',]
cnt = 0
for text in substrings:
    product.loc[((product['CategoryCode'].isnull()) & (product['ProductDescription'].str.contains(text))),'CategoryName'] = thenames[cnt] 
    cnt +=1

In [27]:
product.isnull().sum(axis = 0)

ProductID                0
ProductDescription       0
CategoryCode          2441
CategoryName          8068
VendorID                 9
Date                     0
dtype: int64

In [28]:
# These are the ProductDescription entries I could not identify
product.loc[((product['CategoryCode'].isnull())&(product['CategoryName'].isnull())),'ProductDescription'].unique()

array(['barrel buffalo bill', 'pearl blueberry'], dtype=object)

### III. Looking at CategoryCode numbers with mulitiple CategoryName values

In [29]:
print('Number of Category Codes: ', product['CategoryCode'].nunique())

Number of Category Codes:  112

In [31]:
# looking at an example
test = product.sort_values(['CategoryCode','CategoryName','Date'])
test.loc[test['CategoryCode']==1022200]

,ProductID,ProductDescription,CategoryCode,CategoryName,VendorID,Date
11273979,88036,margaritaville silver tequila,1022200.0,100% agave tequila,330.0,2016-08-29
11274324,88296,patron tequila silver,1022200.0,100% agave tequila,410.0,2016-08-29
11274331,88296,patron tequila silver,1022200.0,100% agave tequila,410.0,2016-08-29
11275202,89626,patron reposado tequila,1022200.0,100% agave tequila,410.0,2016-08-29
11275223,88841,hornitos black barrel,1022200.0,100% agave tequila,65.0,2016-08-29
...,...,...,...,...,...,...
10462229,989699,espolon anejo x ha,1022200.0,NaN,461.0,2016-08-10
11356046,989699,espolon anejo x ha,1022200.0,NaN,461.0,2016-08-10
11368340,989699,espolon anejo x ha,1022200.0,NaN,461.0,2016-08-10
11430290,903369,hussong's reposado tequila 100% agave,1022200.0,NaN,300.0,2016-08-15
11453485,989320,corralejo gran anejo,1022200.0,NaN,255.0,2016-08-22

In [32]:
# Create a CategoryCode list with the most recent category names
CategoryCodes_df = product.loc[(product['CategoryName'].notnull())].sort_values(['CategoryCode','CategoryName','Date']).drop_duplicates(subset = ['CategoryCode'], keep = 'last')
CategoryCodes_df.head(25)

,ProductID,ProductDescription,CategoryCode,CategoryName,VendorID,Date
7801799,926577,glen oaks whiskey buy the barrel,1011000.0,american whiskies,566.0,2021-09-23
6967502,25608,seagrams 7 crown,1011100.0,blended whiskies,260.0,2022-01-31
6967542,17958,evan williams black,1011200.0,straight bourbon whiskies,259.0,2022-01-31
3842079,921946,wild turkey kentucky spirit buy the barrel,1011250.0,single barrel bourbon whiskies,461.0,2019-08-08
11549216,86692,jack daniel's tennessee fire,1011300.0,tennessee whiskies,85.0,2016-08-26
6967412,26820,jack daniels old #7 black label flat,1011400.0,tennessee whiskies,85.0,2022-01-31
12709502,927080,ri(1) whiskey,1011500.0,straight rye whiskies,65.0,2018-08-03
6967119,27102,templeton rye 4yr,1011600.0,straight rye whiskies,255.0,2022-01-31
6962118,926215,sooh balcones single malt lineage,1011700.0,corn whiskies,469.0,2022-01-31
8372255,927357,cedar ridge single malt single barrel select,1011800.0,iowa distillery whiskies,125.0,2020-02-20
5007968,987952,kavalan concertmaster,1012000.0,imported whiskies,391.0,2021-11-01
6967555,11776,black velvet,1012100.0,canadian whiskies,259.0,2022-01-31
6967401,9278,old smuggler scotch pet,1012200.0,scotch whiskies,460.0,2022-01-31
16940481,943675,benromach 10yr,1012210.0,single malt scotch,313.0,2018-06-13
6967513,5038,glenlivet 12yr,1012300.0,single malt scotch,370.0,2022-01-31
11282550,15606,green spot,1012400.0,japanese whisky,370.0,2016-07-28
9167927,902152,sauza cien anos blanco,1022100.0,tequila,65.0,2020-04-17
6967537,88116,milagro silver,1022200.0,100% agave tequila,240.0,2022-01-31
6964196,89566,monte alban mezcal,1022300.0,mezcal,421.0,2022-01-31
6962585,38071,state vodka mini,1031000.0,american vodka,617.0,2022-01-31
15700902,905309,yahara bay vodka,1031080.0,vodka 80 proof,885.0,2017-11-30
11487855,40926,smirnoff silver vodka 90 prf,1031090.0,other proof vodka,260.0,2016-08-26
6967539,37994,smirnoff 80prf,1031100.0,american vodkas,260.0,2022-01-31
20589071,40570,skinnygirl bare naked,1031110.0,low proof vodka,65.0,2015-07-01
11696394,940576,skinnygirl tangerine,1031200.0,vodka flavored,65.0,2018-10-01

In [33]:
CategoryCodes_df.shape[0]

110

In [34]:
# Consolidate the CategoryName values
Merged_Product_Category = product.merge(CategoryCodes_df[['CategoryCode', 'CategoryName']], on = 'CategoryCode', how = 'left')
Merged_Product_Category.drop(columns = 'CategoryName_x', inplace = True)
Merged_Product_Category.rename(columns = {'CategoryName_y': 'CategoryName'}, inplace = True)
product = Merged_Product_Category.copy()
product.head()

,ProductID,ProductDescription,CategoryCode,VendorID,Date,CategoryName
0,29287,barton gin,1041100.0,55.0,2015-02-16,american dry gins
1,18196,ezra brooks 50 mo ky sour mash bourbon,1011200.0,434.0,2015-04-30,straight bourbon whiskies
2,81406,thunder 101 peppermint schnapps,1081300.0,434.0,2012-10-01,peppermint schnapps
3,45276,paramount white rum,1062200.0,434.0,2013-07-30,white rum
4,34729,stolichnaya elit vodka,1032080.0,277.0,2014-07-23,imported vodka

### IV. Looking at ProductID numbers with mulitiple ProductDescription entries

In [36]:
# Create a ProductID list with the most recent category names
ProductID_df = product.loc[(product['ProductDescription'].notnull())].sort_values(['ProductID','ProductDescription','Date']).drop_duplicates(subset = ['ProductID'], keep = 'last')
ProductID_df.head(25)

,ProductID,ProductDescription,CategoryCode,VendorID,Date,CategoryName
15732523,100001,absente w/glass & spoon pack,1701100.0,305.0,2017-11-29,temporary & specialty packages
11748660,100005,the glenlivet w/50ml 15yr & founders reserve,1701200.0,370.0,2016-10-06,holiday vap
13325694,100006,crystal head vodka w/ crystal stopper,1032000.0,255.0,2016-12-12,imported vodka
6963509,100015,fireball cinnamon whiskey bag in box,1081600.0,421.0,2022-01-31,whiskey liqueur
16597627,100017,hornitos reposado w/ hornitos plata 200ml,1701100.0,65.0,2018-04-17,temporary & specialty packages
16839407,100018,barenjager honey w/2 rocks glasses,1701100.0,338.0,2018-05-25,temporary & specialty packages
13227106,100022,forty creek w/thermos,NaN,461.0,2016-11-17,whiskey - manual add
12552575,100024,fernet branca liqueur w/2 bodega glasses,1701100.0,368.0,2019-02-14,temporary & specialty packages
13103195,100025,three olives w/3-50mls,1032200.0,395.0,2016-11-01,imported vodka - misc
13688488,100026,absolut w/fever tree ginger beer,NaN,370.0,2017-01-31,whiskey - manual add
16618153,100027,absolut citron w/ fever tree ginger beer,1701100.0,370.0,2018-04-23,temporary & specialty packages
15917621,100032,hennessy xo w/2 glasses,1701100.0,420.0,2017-12-28,temporary & specialty packages
13458663,100033,disaronno amaretto etro w/2 glasses,NaN,130.0,2016-12-22,whiskey - manual add
11736314,100035,templeton 4yr rye w/2 tumbler glasses,1701100.0,255.0,2018-10-04,temporary & specialty packages
15850578,100037,smirnoff 1.75l pet w/2-50ml smirnoff peppermint,1701100.0,260.0,2017-12-19,temporary & specialty packages
4879766,100040,grand marnier w/2 shot glasses,1701100.0,619.0,2020-01-13,temporary & specialty packages
15908897,100041,hennessy v.s.o.p privilege w/2 glasses,NaN,420.0,2017-12-29,whiskey - manual add
13359461,100046,disaronno etro mignon counter unit,1701200.0,130.0,2016-12-12,holiday vap
15840204,100051,glenmorangie original w/2 craftsman cups,1701100.0,420.0,2017-12-14,temporary & specialty packages
14182728,100054,jim beam double oak in gift box,1701100.0,65.0,2017-04-21,temporary & specialty packages
6967388,10006,scoresby rare scotch,1012200.0,421.0,2022-01-28,scotch whiskies
13495376,100065,ardbeg 10yr quadrant & 50ml uigeadail,1012300.0,420.0,2016-12-29,single malt scotch
15897066,100068,cedar ridge american whiskey explorer pack,NaN,125.0,2017-12-22,whiskey - manual add
15710885,100071,absolut w/ p&m ginger beer,1032100.0,370.0,2017-11-29,imported vodkas
13826371,100075,"jim beam apple, kentucky fire & honey 3-pack",1701100.0,65.0,2017-02-28,temporary & specialty packages

In [37]:
# Consolidate the ProductDescription values
Merged_Product_Descrip = product.merge(ProductID_df[['ProductID', 'ProductDescription']], on = 'ProductID', how = 'left')
Merged_Product_Descrip.drop(columns = 'ProductDescription_x', inplace = True)
Merged_Product_Descrip.rename(columns = {'ProductDescription_y': 'ProductDescription'}, inplace = True)
product = Merged_Product_Descrip.copy()
product.head()

,ProductID,CategoryCode,VendorID,Date,CategoryName,ProductDescription
0,29287,1041100.0,55.0,2015-02-16,american dry gins,barton gin
1,18196,1011200.0,434.0,2015-04-30,straight bourbon whiskies,ezra brooks sour mash bourbon
2,81406,1081300.0,434.0,2012-10-01,peppermint schnapps,thunder 101 peppermint schnapps
3,45276,1062200.0,434.0,2013-07-30,white rum,paramount white rum
4,34729,1032080.0,277.0,2014-07-23,imported vodka,stolichnaya elit vodka

### Before Moving On: Consolidate ProductIDs and keep most recent row

In [38]:
product.groupby(['ProductID']).size()

ProductID
100001       74
100005      128
100006      151
100015     1156
100017       99
           ...
999991        1
999992        1
999993        3
999995        1
x904631       3
Length: 10941, dtype: int64

In [39]:
# Create a ProductID list with the most recent ProductID row
ProductID_short = product.sort_values(['ProductID','Date']).drop_duplicates(subset = ['ProductID'], keep = 'last')
ProductID_short.head(5)

,ProductID,CategoryCode,VendorID,Date,CategoryName,ProductDescription
15732523,100001,1701100.0,305.0,2017-11-29,temporary & specialty packages,absente w/glass & spoon pack
13436084,100005,1701200.0,370.0,2016-12-22,holiday vap,the glenlivet w/50ml 15yr & founders reserve
13325694,100006,1032000.0,255.0,2016-12-12,imported vodka,crystal head vodka w/ crystal stopper
6963509,100015,1081600.0,421.0,2022-01-31,whiskey liqueur,fireball cinnamon whiskey bag in box
16597627,100017,1701100.0,65.0,2018-04-17,temporary & specialty packages,hornitos reposado w/ hornitos plata 200ml

In [40]:
product['ProductID'].nunique()

10941

In [41]:
ProductID_short.groupby(['ProductID']).size().sum()

10941

### V. Add Proof data

In [42]:
proof = product_df[['ItemNumber', 'Proof']]

In [43]:
proof.head()

  ItemNumber  Proof
0     901141    114
1      65017     84
2      88152     80
3     903796     80
4     905846     80

In [44]:
proof.rename(columns = {'ItemNumber':'ProductID'}, inplace = True)
proof['ProductID'] = proof['ProductID'].apply(str)

/opt/conda/lib/python3.9/site-packages/pandas/core/frame.py:5039: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().rename(
/tmp/ipykernel_886/2601084771.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  proof['ProductID'] = proof['ProductID'].apply(str)

In [45]:
# Attaching proof to the product database.
Proof_Merge = ProductID_short.merge(proof[['ProductID', 'Proof']], on = 'ProductID', how = 'left')
Proof_Merge.head()

,ProductID,CategoryCode,VendorID,Date,CategoryName,ProductDescription,Proof
0,100001,1701100.0,305.0,2017-11-29,temporary & specialty packages,absente w/glass & spoon pack,110.0
1,100005,1701200.0,370.0,2016-12-22,holiday vap,the glenlivet w/50ml 15yr & founders reserve,80.0
2,100006,1032000.0,255.0,2016-12-12,imported vodka,crystal head vodka w/ crystal stopper,80.0
3,100015,1081600.0,421.0,2022-01-31,whiskey liqueur,fireball cinnamon whiskey bag in box,66.0
4,100017,1701100.0,65.0,2018-04-17,temporary & specialty packages,hornitos reposado w/ hornitos plata 200ml,80.0

### VI. Add Category Groups

In [46]:
product = Proof_Merge.copy()

In [47]:
mylist = product.loc[product['CategoryName'].notnull(),'CategoryName'].unique().tolist()
sentence = []
for string in mylist:
    temp = string.split(' ')
    for word in temp:
        if len(word)>2:
            sentence.append(word) 
print(sentence)          
unique, counts = np.unique(sentence, return_counts=True)
d = {'values':unique, 'counts':counts}
df = pd.DataFrame(data=d)
df.sort_values(by=['counts','values'], ascending = False)

['temporary', 'specialty', 'packages', 'holiday', 'vap', 'imported', 'vodka', 'whiskey', 'liqueur', 'whiskey', 'manual', 'add', 'imported', 'vodka', 'misc', 'scotch', 'whiskies', 'single', 'malt', 'scotch', 'imported', 'vodkas', 'american', 'vodkas', 'straight', 'bourbon', 'whiskies', '100%', 'agave', 'tequila', 'canadian', 'whiskies', 'temporary', 'specialty', 'packages', 'cocktails', '/rtd', 'blended', 'whiskies', 'american', 'dry', 'gins', 'vodka', 'flavored', 'peppermint', 'schnapps', 'triple', 'sec', 'straight', 'rye', 'whiskies', 'american', 'vodka', 'imported', 'cordials', 'liqueurs', 'japanese', 'whisky', 'imported', 'distilled', 'spirit', 'specialty', 'miscellaneous', 'schnapps', 'tennessee', 'whiskies', 'imported', 'brandies', 'distilled', 'spirits', 'specialty', 'spiced', 'rum', 'single', 'barrel', 'bourbon', 'whiskies', 'corn', 'whiskies', 'cream', 'liqueurs', 'american', 'distilled', 'spirit', 'specialty', 'iowa', 'distillery', 'whiskies', 'american', 'alcohol', 'iowa', 'distilleries', 'american', 'distilled', 'spirits', 'specialty', 'imported', 'dry', 'gins', 'flavored', 'gin', 'misc.', 'american', 'cordials', 'liqueurs', 'flavored', 'rum', 'american', 'sloe', 'gins', 'flavored', 'gins', 'tequila', 'vodka', 'proof', 'neutral', 'grain', 'spirits', 'misc.', 'imported', 'cordials', 'liqueurs', 'mezcal', 'low', 'proof', 'vodka', 'jamaica', 'rum', 'white', 'rum', 'barbados', 'rum', 'imported', 'grape', 'brandies', 'apricot', 'brandies', 'american', 'grape', 'brandies', 'blackberry', 'brandies', 'cherry', 'brandies', 'peach', 'brandies', 'miscellaneous', 'brandies', 'cocktails', 'rtd', 'temporary', 'specialty', 'packages', 'imported', 'schnapps', 'imported', 'amaretto', 'imported', 'cordials', 'liqueur', 'american', 'cordials', 'liqueurs', 'coffee', 'liqueurs', 'schnapps', 'imported', 'cinnamon', 'schnapps', 'american', 'amaretto', 'apple', 'schnapps', 'neutral', 'grain', 'spirits', 'flavored', 'dark', 'creme', 'cacao', 'white', 'creme', 'menthe', 'creme', 'almond', 'spearmint', 'schnapps', 'root', 'beer', 'schnapps', 'tropical', 'fruit', 'schnapps', 'peach', 'schnapps', 'butterscotch', 'schnapps', 'anisette', 'special', 'order', 'items', 'high', 'proof', 'beer', 'american', 'white', 'creme', 'cacao', 'green', 'creme', 'menthe', 'other', 'proof', 'vodka', 'raspberry', 'schnapps', 'delisted', 'special', 'order', 'items', 'american', 'whiskies', 'imported', 'distilled', 'spirits', 'specialty', 'imported', 'gins', 'watermelon', 'schnapps', 'imported', 'whiskies']

           values  counts
44       imported      16
71       schnapps      13
7        american      13
93       whiskies      11
78      specialty       8
17       brandies       8
89          vodka       7
50       liqueurs       6
81        spirits       5
69            rum       5
38           gins       5
35       flavored       5
31      distilled       5
28          creme       5
25       cordials       5
65          proof       4
95          white       3
83      temporary       3
62       packages       3
92        whiskey       2
90         vodkas       2
85        tequila       2
82       straight       2
80         spirit       2
77        special       2
74         single       2
72         scotch       2
63          peach       2
60          order       2
59        neutral       2
58  miscellaneous       2
57          misc.       2
54         menthe       2
49        liqueur       2
46          items       2
45           iowa       2
40          grape       2
39          grain       2
34            dry       2
23      cocktails       2
19          cacao       2
16        bourbon       2
13           beer       2
6        amaretto       2
94         whisky       1
91     watermelon       1
88            vap       1
87       tropical       1
86         triple       1
84      tennessee       1
79         spiced       1
76      spearmint       1
75           sloe       1
73            sec       1
70            rye       1
68            rtd       1
67           root       1
66      raspberry       1
64     peppermint       1
61          other       1
56           misc       1
55         mezcal       1
53         manual       1
52           malt       1
51            low       1
48       japanese       1
47        jamaica       1
43        holiday       1
42           high       1
41          green       1
37            gin       1
36          fruit       1
33     distillery       1
32   distilleries       1
30       delisted       1
29           dark       1
27          cream       1
26           corn       1
24         coffee       1
22       cinnamon       1
21         cherry       1
20       canadian       1
18   butterscotch       1
15        blended       1
14     blackberry       1
12         barrel       1
11       barbados       1
10        apricot       1
9           apple       1
8        anisette       1
5          almond       1
4         alcohol       1
3           agave       1
2             add       1
1            100%       1
0            /rtd       1

In [48]:
product['CategoryName'] = product['CategoryName'].apply(str)
# Create category grouping.
product['CategoryGroup'] = np.where(product['CategoryName'].str.contains('gin'),'gin',
                                    np.where(product['CategoryName'].str.contains('whisk|bourbon|scotch'), 'whisky',        
                                    np.where(product['CategoryName'].str.contains('rum'),'rum',
                                    np.where(product['CategoryName'].str.contains('vodka'), 'vodka',      
                                    np.where(product['CategoryName'].str.contains('tequila|mezcal'), 'tequila',
                                    np.where(product['CategoryName'].str.contains('brandy|brandies'), 'brandy',
                                    np.where(product['CategoryName'].str.contains('schnapps'), 'schnapps',
                                    np.where(product['CategoryName'].str.contains('liqueur|cordial|triple sec|anisette|creme de cacao|creme de almond|amaretto|creme de menthe'), 'liqueur',
                                    np.where(product['CategoryName'].str.contains('spirit'), 'spirit',       
                                    np.where(product['CategoryName'].str.contains('cocktail'), 'cocktail',
                                    np.where(product['CategoryName'].str.contains('beer'), 'beer', 'other')))))))))))

In [49]:
product['CategoryGroup'].value_counts()

whisky      3032
other       1821
vodka       1808
liqueur      955
rum          791
tequila      688
brandy       445
spirit       382
cocktail     365
gin          331
schnapps     321
beer           2
Name: CategoryGroup, dtype: int64

In [50]:
product.loc[product['CategoryGroup'] == 'other']['CategoryName'].value_counts()

temporary & specialty packages     914
special order items                817
temporary &  specialty packages     74
holiday vap                          9
american alcohol                     3
iowa distilleries                    1
temporary  & specialty packages      1
delisted / special order items       1
nan                                  1
Name: CategoryName, dtype: int64

In [51]:
product.head()

,ProductID,CategoryCode,VendorID,Date,CategoryName,ProductDescription,Proof,CategoryGroup
0,100001,1701100.0,305.0,2017-11-29,temporary & specialty packages,absente w/glass & spoon pack,110.0,other
1,100005,1701200.0,370.0,2016-12-22,holiday vap,the glenlivet w/50ml 15yr & founders reserve,80.0,other
2,100006,1032000.0,255.0,2016-12-12,imported vodka,crystal head vodka w/ crystal stopper,80.0,vodka
3,100015,1081600.0,421.0,2022-01-31,whiskey liqueur,fireball cinnamon whiskey bag in box,66.0,whisky
4,100017,1701100.0,65.0,2018-04-17,temporary & specialty packages,hornitos reposado w/ hornitos plata 200ml,80.0,other

### VII. Looking at ProductID numbers with mulitiple VendorID entries

In [52]:
# Create a ProductID list with the most recent vendor id
ProductID_vendor_df = product.loc[(product['VendorID'].notnull())].sort_values(['ProductID','VendorID','Date']).drop_duplicates(subset = ['ProductID'], keep = 'last')
ProductID_vendor_df.head(5)

,ProductID,CategoryCode,VendorID,Date,CategoryName,ProductDescription,Proof,CategoryGroup
0,100001,1701100.0,305.0,2017-11-29,temporary & specialty packages,absente w/glass & spoon pack,110.0,other
1,100005,1701200.0,370.0,2016-12-22,holiday vap,the glenlivet w/50ml 15yr & founders reserve,80.0,other
2,100006,1032000.0,255.0,2016-12-12,imported vodka,crystal head vodka w/ crystal stopper,80.0,vodka
3,100015,1081600.0,421.0,2022-01-31,whiskey liqueur,fireball cinnamon whiskey bag in box,66.0,whisky
4,100017,1701100.0,65.0,2018-04-17,temporary & specialty packages,hornitos reposado w/ hornitos plata 200ml,80.0,other

In [53]:
# Consolidate the VendorID values
Merged_Product_Vendor = product.merge(ProductID_vendor_df[['ProductID', 'VendorID']], on = 'ProductID', how = 'left')
Merged_Product_Vendor.drop(columns = 'VendorID_x', inplace = True)
Merged_Product_Vendor.rename(columns = {'VendorID_y': 'VendorID'}, inplace = True)
product = Merged_Product_Vendor.copy()
product.head()

,ProductID,CategoryCode,Date,CategoryName,ProductDescription,Proof,CategoryGroup,VendorID
0,100001,1701100.0,2017-11-29,temporary & specialty packages,absente w/glass & spoon pack,110.0,other,305.0
1,100005,1701200.0,2016-12-22,holiday vap,the glenlivet w/50ml 15yr & founders reserve,80.0,other,370.0
2,100006,1032000.0,2016-12-12,imported vodka,crystal head vodka w/ crystal stopper,80.0,vodka,255.0
3,100015,1081600.0,2022-01-31,whiskey liqueur,fireball cinnamon whiskey bag in box,66.0,whisky,421.0
4,100017,1701100.0,2018-04-17,temporary & specialty packages,hornitos reposado w/ hornitos plata 200ml,80.0,other,65.0

### VIII. Manually add some missing VendorID based on ProductDescription entries

In [54]:
product.loc[product['VendorID'].isnull()]

,ProductID,CategoryCode,Date,CategoryName,ProductDescription,Proof,CategoryGroup,VendorID
7864,915574,1012400.0,2021-04-20,japanese whisky,connemara 12yr,80.0,whisky,NaN
8001,916456,1011300.0,2016-10-17,tennessee whiskies,reservoir bourbon whiskey,100.0,whisky,NaN
8511,927565,1091100.0,2016-10-17,american distilled spirit specialty,reservoir wheat whiskey,100.0,spirit,NaN
9612,965108,1032100.0,2021-03-18,imported vodkas,grey goose vx,80.0,vodka,NaN
9829,973449,1081300.0,2018-08-07,peppermint schnapps,dekuyper blood orange,30.0,schnapps,NaN

In [55]:
sales['ItemDescription'] = sales['ItemDescription'].str.lower()
print('grey goose vx: ',sales.loc[sales['ItemDescription']== 'grey goose vx','VendorNumber'].unique())

grey goose vx:  [35. nan]

In [56]:
# Add this VendorID manually
product.loc[(product['VendorID'].isnull()) & (product['ProductDescription']=='grey goose vx'),'VendorID'] = 35

In [57]:
print('connemara: ',sales.loc[sales['ItemDescription'].str.contains('connemara'),'VendorNumber'].unique())

connemara:  [65. nan]

In [58]:
print('dekuyper: ',sales.loc[sales['ItemDescription'].str.contains('dekuyper'),'VendorNumber'].unique())
# yeah they sold the right to manufacture and market their brands to jim beam

dekuyper:  [65. nan]

In [59]:
# Add these VendorID manually as well
product.loc[(product['VendorID'].isnull()) & (product['ProductDescription'].str.contains('connemara')),'VendorID'] = 65
product.loc[(product['VendorID'].isnull()) & (product['ProductDescription'].str.contains('dekuyper')),'VendorID'] = 65

In [60]:
print('reservoir: ',sales.loc[sales['ItemDescription'].str.contains('reservoir'),'VendorNumber'].unique())

reservoir:  [nan]

In [61]:
print('reservoir wheat whiskey: ',sales.loc[sales['ItemDescription']== 'reservoir wheat whiskey','VendorNumber'].unique())

reservoir wheat whiskey:  [nan]

In [62]:
product.loc[product['VendorID'].isnull()]

,ProductID,CategoryCode,Date,CategoryName,ProductDescription,Proof,CategoryGroup,VendorID
8001,916456,1011300.0,2016-10-17,tennessee whiskies,reservoir bourbon whiskey,100.0,whisky,NaN
8511,927565,1091100.0,2016-10-17,american distilled spirit specialty,reservoir wheat whiskey,100.0,spirit,NaN

## âœ… Final Data Cleaning - Product Table

In [63]:
product.shape

(10941, 8)

In [64]:
# Drop duplicates
product.drop_duplicates(keep = 'first', inplace = True)
product.shape

(10941, 8)

In [65]:
product = product.reset_index(drop=True)

In [67]:
product_final = product[['ProductID', 'ProductDescription', 'CategoryCode', 'CategoryName', 'CategoryGroup', 'Proof', 'VendorID']]

In [68]:
product_final.head()

,ProductID,ProductDescription,CategoryCode,CategoryName,CategoryGroup,Proof,VendorID
0,100001,absente w/glass & spoon pack,1701100.0,temporary & specialty packages,other,110.0,305.0
1,100005,the glenlivet w/50ml 15yr & founders reserve,1701200.0,holiday vap,other,80.0,370.0
2,100006,crystal head vodka w/ crystal stopper,1032000.0,imported vodka,vodka,80.0,255.0
3,100015,fireball cinnamon whiskey bag in box,1081600.0,whiskey liqueur,whisky,66.0,421.0
4,100017,hornitos reposado w/ hornitos plata 200ml,1701100.0,temporary & specialty packages,other,80.0,65.0

In [69]:
product_final.isnull().sum(axis = 0)

ProductID                0
ProductDescription       0
CategoryCode            77
CategoryName             0
CategoryGroup            0
Proof                 1524
VendorID                 2
dtype: int64

In [70]:
%%time
product_final.to_csv('../../data/product.csv', index_label = False)

CPU times: user 49.3 ms, sys: 4.03 ms, total: 53.3 ms
Wall time: 58.9 ms