In [1]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
plt.style.use('ggplot')
plt.rcParams.update({'font.size': 20})

In [2]:
pd.set_option('display.max_rows', 500)
pd.set_option('display.max_columns', 500)

# Import Liquor Sales database

In [3]:
%%time
sales = pd.read_csv('../data/Iowa_Liquor_Sales.csv')

/opt/conda/lib/python3.9/site-packages/IPython/core/magics/execution.py:1324: DtypeWarning: Columns (6,14) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code, glob, local_ns)

CPU times: user 1min, sys: 9.65 s, total: 1min 9s
Wall time: 1min 10s

In [4]:
sales.columns

Index(['Invoice/Item Number', 'Date', 'Store Number', 'Store Name', 'Address',
       'City', 'Zip Code', 'Store Location', 'County Number', 'County',
       'Category', 'Category Name', 'Vendor Number', 'Vendor Name',
       'Item Number', 'Item Description', 'Pack', 'Bottle Volume (ml)',
       'State Bottle Cost', 'State Bottle Retail', 'Bottles Sold',
       'Sale (Dollars)', 'Volume Sold (Liters)', 'Volume Sold (Gallons)'],
      dtype='object')

In [5]:
print('The number of rows: ', sales.shape[0])

The number of rows:  23154845

In [6]:
print('The number of features: ', sales.shape[1])

The number of features:  24

In [7]:
print('The datatypes in the dataframe:')
sales.dtypes.unique()

The datatypes in the dataframe:

array([dtype('O'), dtype('int64'), dtype('float64')], dtype=object)

In [8]:
sales.head(10)

,Invoice/Item Number,Date,Store Number,Store Name,Address,City,Zip Code,Store Location,County Number,County,Category,Category Name,Vendor Number,Vendor Name,Item Number,Item Description,Pack,Bottle Volume (ml),State Bottle Cost,State Bottle Retail,Bottles Sold,Sale (Dollars),Volume Sold (Liters),Volume Sold (Gallons)
0,S24032900031,02/16/2015,3385,Sam's Club 8162 / Cedar Rapids,2605 BLAIRS FERRY RD NE,CEDAR RAPIDS,52402,POINT (-91.67969 42.031819),57.0,Linn,1041100.0,AMERICAN DRY GINS,55.0,Sazerac North America,29287,Barton Gin,12,1000,3.92,5.88,24,141.12,24.00,6.34
1,S25392600010,04/30/2015,5034,Liquor Tobacco & Groceries,18 N MONROE AVE,MASON CITY,50401,POINT (-93.208614 43.152301),17.0,Cerro Gordo,1011200.0,STRAIGHT BOURBON WHISKIES,434.0,Luxco-St Louis,18196,Ezra Brooks 50 Mo Ky Sour Mash Bourbon,12,750,6.84,10.26,12,123.12,9.00,2.38
2,S08041400024,10/01/2012,2500,Hy-Vee Food Store #1 / Ames,3800 W LINCOLN WAY,AMES,50010,NaN,85.0,Story,1081300.0,PEPPERMINT SCHNAPPS,434.0,Luxco-St Louis,81406,Thunder 101 Peppermint Schnapps,12,750,6.50,9.75,12,117.00,9.00,2.38
3,S13626800019,07/30/2013,4203,Liquor and Tobacco Outlet /,620 W BREMER AVE,WAVERLY,50677,POINT (-92.47898 42.725694),9.0,Bremer,1062200.0,PUERTO RICO & VIRGIN ISLANDS RUM,434.0,Luxco-St Louis,45276,Paramount White Rum,12,750,3.85,5.77,12,69.24,9.00,2.38
4,S20264600081,07/23/2014,4509,A J'S LIQUOR II,2515 CHAMBERLAIN,AMES,50010,POINT (-93.650838 42.021461),85.0,Story,1032080.0,IMPORTED VODKA,277.0,Stoli Group,34729,Stolichnaya Elit Vodka,6,750,29.99,44.99,1,44.99,0.75,0.20
5,S04724800133,03/26/2012,2634,Hy-Vee Wine and Spirits / Ames,3615 LINCOLN WAY,AMES,50014,POINT (-93.667932 42.022911),85.0,Story,1012100.0,CANADIAN WHISKIES,260.0,Diageo Americas,11347,Seagrams V.o. Bl Canadian Whisky,12,1000,9.49,14.24,2,28.48,2.00,0.53
6,S22974600041,12/16/2014,4102,Fareway Stores #386 / Ames,619 BURNETT AVE,AMES,50010,POINT (-93.615428 42.027426),85.0,Story,1081010.0,AMERICAN AMARETTO,434.0,Luxco-St Louis,76486,Paramount Amaretto,12,750,3.38,5.07,6,30.42,4.50,1.19
7,S13716500005,08/07/2013,4862,Pronto Market / Kingsley,101 MAIN ST,KINGSLEY,51028,POINT (-95.967322 42.58707400000001),75.0,Plymouth,1022100.0,TEQUILA,421.0,"Sazerac Co., Inc.",88768,Tortilla White Tequila,6,1750,12.83,19.24,6,115.44,10.50,2.77
8,S04414200031,03/06/2012,2522,Hy-Vee Wine and Spirits / Spirit Lak,HWY 9 & 71,SPIRIT LAKE,51360,NaN,30.0,Dickinson,1031100.0,100 PROOF VODKA,300.0,Mccormick Distilling Company,36908,Mccormick Vodka Pet,6,1750,7.46,11.19,6,67.14,10.50,2.77
9,S23072400091,12/20/2014,2508,Hy-Vee Food Store #1 / Cedar Rapids,"1843 JOHNSON AVENUE, N.W.",CEDAR RAPIDS,52405,POINT (-91.697941 41.97447),57.0,Linn,1012100.0,CANADIAN WHISKIES,115.0,"Constellation Wine Company, Inc.",10548,Black Velvet Toasted Caramel,6,1750,12.99,19.49,6,116.94,10.50,2.77

In [9]:
# Get rid of spaces in column names
sales.columns = sales.columns.str.replace(' ','')

In [10]:
sales.columns

Index(['Invoice/ItemNumber', 'Date', 'StoreNumber', 'StoreName', 'Address',
       'City', 'ZipCode', 'StoreLocation', 'CountyNumber', 'County',
       'Category', 'CategoryName', 'VendorNumber', 'VendorName', 'ItemNumber',
       'ItemDescription', 'Pack', 'BottleVolume(ml)', 'StateBottleCost',
       'StateBottleRetail', 'BottlesSold', 'Sale(Dollars)',
       'VolumeSold(Liters)', 'VolumeSold(Gallons)'],
      dtype='object')

In [11]:
sales['Date']= pd.to_datetime(sales['Date'])

# Clean & Create Vendor Table

In [12]:
vendor_col = ['VendorNumber',
              'VendorName',
              'Date']

vendor = sales[vendor_col].copy()

## ðŸ§¹ Data Cleaning - Vendor Table

In [13]:
# Rename some columns
vendor.rename(columns = {'VendorNumber':'VendorID'}, inplace = True)

In [14]:
vendor.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23154845 entries, 0 to 23154844
Data columns (total 3 columns):
 #   Column      Dtype
---  ------      -----
 0   VendorID    float64
 1   VendorName  object
 2   Date        datetime64[ns]
dtypes: datetime64[ns](1), float64(1), object(1)
memory usage: 530.0+ MB

In [15]:
vendor['Date'] = pd.to_datetime(vendor['Date'])

In [16]:
vendor.head()

   VendorID             VendorName       Date
0      55.0  Sazerac North America 2015-02-16
1     434.0         Luxco-St Louis 2015-04-30
2     434.0         Luxco-St Louis 2012-10-01
3     434.0         Luxco-St Louis 2013-07-30
4     277.0            Stoli Group 2014-07-23

In [17]:
# Create a VendorID list with the most recent VendorName
VendorID_df = vendor.loc[(vendor['VendorName'].notnull())].sort_values(['VendorID','VendorName','Date']).drop_duplicates(subset = ['VendorID'], keep = 'last')
VendorID_df.head(25)

          VendorID                             VendorName       Date
11505006      10.0                 A Hardy / U.S.A., Ltd. 2016-08-25
19553086      14.0             Adamba Imports Int'l, Inc. 2014-07-01
20309406      27.0      Anheuser-Busch/Longtail Libations 2012-10-02
10832504      33.0                            Bmc Imports 2016-05-16
11549647      35.0                   Bacardi U.S.A., Inc. 2016-08-26
1686166       51.0            Barrel House Distilling Co. 2012-11-29
11552203      55.0                  Sazerac North America 2016-08-26
20246530      61.0       Biagio Cru And Estate Wines, LLC 2014-09-22
6967486       65.0                        Jim Beam Brands 2022-01-31
21480235      68.0              Belmont Farms Of Va., Inc 2012-12-21
10920877      69.0                          Bendistillery 2016-06-06
11500931      79.0                Breckenridge Distillery 2016-08-24
2092063       80.0                    Boston Beer Company 2015-11-12
791418        82.0                      BuzzBox Beverages 2015-02-11
11549216      85.0               Brown-Forman Corporation 2016-08-26
11482413      86.0                   Broadbent Distillery 2016-08-26
17355041      89.0           Temperance Distiling Company 2012-05-01
11510424      90.0           Carriage House Imports, Ltd. 2016-08-24
6962086       91.0                          Castle Brands 2022-01-31
11502313     100.0                     Aiko Importers Inc 2016-08-26
11467171     101.0               Artisan Grain Distillery 2016-08-17
149277       102.0                   Broadslab Distillery 2015-01-16
629017       104.0                        ASDSpirits, LLC 2015-06-03
11480040     107.0             Blaum Bros. Distilling Co. 2016-08-23
5911957      108.0  CVI Brands / California Vineyards Inc 2021-12-07

In [18]:
# Consolidate the VendorName entries
Merged_Vendor_Names = vendor.merge(VendorID_df[['VendorID', 'VendorName']], on = 'VendorID', how = 'left')
Merged_Vendor_Names.drop(columns = 'VendorName_x', inplace = True)
Merged_Vendor_Names.rename(columns = {'VendorName_y': 'VendorName'}, inplace = True)
vendor = Merged_Vendor_Names.copy()
vendor = vendor.drop('Date',axis=1)
vendor.head()

   VendorID             VendorName
0      55.0  Sazerac North America
1     434.0         Luxco-St Louis
2     434.0         Luxco-St Louis
3     434.0         Luxco-St Louis
4     277.0            Stoli Group

### Before Moving On: Consolidate VendorIDs

In [19]:
vendor.groupby('VendorID').size().sort_values()

VendorID
196.0          1
119.0          1
734.0          1
486.0          1
727.0          1
329.0          1
140.0          1
622.0          1
476.0          1
714.0          1
710.0          1
470.0          1
468.0          1
355.0          1
462.0          1
585.0          1
191.0          1
675.0          1
643.0          1
436.0          1
426.0          1
699.0          1
591.0          1
592.0          1
694.0          1
600.0          1
386.0          1
220.0          1
656.0          1
502.0          1
603.0          1
754.0          1
531.0          1
524.0          1
102.0          1
82.0           1
68.0           1
522.0          1
890.0          1
51.0           1
14.0           1
89.0           1
431.0          2
650.0          2
113.0          2
194.0          2
358.0          2
543.0          2
414.0          2
686.0          2
356.0          2
281.0          2
638.0          2
504.0          2
336.0          2
278.0          2
629.0          2
510.0          2
488.0          2
252.0          2
523.0          2
138.0          2
349.0          2
621.0          2
475.0          2
491.0          2
337.0          2
731.0          2
27.0           3
233.0          3
555.0          3
753.0          3
435.0          3
485.0          3
520.0          3
397.0          3
646.0          3
685.0          4
690.0          4
556.0          4
671.0          4
317.0          5
631.0          5
279.0          5
677.0          5
644.0          5
407.0          5
398.0          6
408.0          6
673.0          6
611.0          6
560.0          6
143.0          7
487.0          7
463.0          7
318.0          7
367.0          7
702.0          7
372.0          7
633.0          7
553.0          7
602.0          8
280.0          8
512.0          8
307.0          8
348.0          8
624.0          8
437.0          8
249.0          8
425.0          9
137.0          9
505.0          9
146.0         10
411.0         10
155.0         10
561.0         10
569.0         10
254.0         10
156.0         10
324.0         10
69.0          11
61.0          11
625.0         12
158.0         12
609.0         12
274.0         13
473.0         15
577.0         15
647.0         15
456.0         16
540.0         16
558.0         16
161.0         16
263.0         17
251.0         17
227.0         17
634.0         17
128.0         18
618.0         18
432.0         19
333.0         21
742.0         21
573.0         21
607.0         21
258.0         22
361.0         22
347.0         22
705.0         23
33.0          23
501.0         23
623.0         24
620.0         24
614.0         26
256.0         26
150.0         27
114.0         27
745.0         28
369.0         29
288.0         29
80.0          29
423.0         29
465.0         30
987.0         31
574.0         32
343.0         33
515.0         33
109.0         35
374.0         36
166.0         36
290.0         36
606.0         36
539.0         38
104.0         39
197.0         40
212.0         40
282.0         42
334.0         42
379.0         44
446.0         44
185.0         45
203.0         45
575.0         46
698.0         50
311.0         50
428.0         52
377.0         53
506.0         55
747.0         56
211.0         57
108.0         58
298.0         63
537.0         65
415.0         65
204.0         68
376.0         72
127.0         74
270.0         75
688.0         77
447.0         77
516.0         78
422.0         80
496.0         81
659.0         83
310.0         86
235.0         94
224.0        100
888.0        108
582.0        112
511.0        114
359.0        123
507.0        129
528.0        130
315.0        137
565.0        142
111.0        148
439.0        151
749.0        156
583.0        156
187.0        158
548.0        164
268.0        172
122.0        178
584.0        182
657.0        186
206.0        187
547.0        188
567.0        192
477.0        198
649.0        200
442.0        204
365.0        205
459.0        206
580.0        207
244.0        213
226.0        216
234.0        218
452.0        233
503.0        237
655.0        241
617.0        246
351.0        250
538.0        252
545.0        256
223.0        261
136.0        265
448.0        282
312.0        292
706.0        296
684.0        302
559.0        304
472.0        306
341.0        307
101.0        308
164.0        325
662.0        327
413.0        334
210.0        343
373.0        363
160.0        403
552.0        404
215.0        405
736.0        409
295.0        422
645.0        422
217.0        446
641.0        469
608.0        491
250.0        507
399.0        536
483.0        539
90.0         545
190.0        574
977.0        598
661.0        603
519.0        619
293.0        637
198.0        640
642.0        715
594.0        789
589.0        806
79.0         831
381.0        846
497.0        862
269.0        896
375.0        900
886.0        903
207.0        912
353.0        913
549.0        943
110.0        969
495.0        971
246.0        979
586.0        980
107.0        991
564.0       1003
10.0        1003
313.0       1007
554.0       1033
100.0       1085
493.0       1133
283.0       1169
390.0       1237
273.0       1258
216.0       1323
418.0       1325
231.0       1345
118.0       1360
479.0       1408
969.0       1565
803.0       1584
363.0       1613
261.0       1614
232.0       1646
478.0       1698
112.0       1923
536.0       1976
525.0       2075
557.0       2085
350.0       2141
513.0       2607
962.0       2995
481.0       3034
391.0       3239
325.0       3340
357.0       3357
116.0       3470
208.0       3500
284.0       3655
654.0       3693
394.0       3721
86.0        3835
294.0       3924
287.0       4014
209.0       4052
163.0       4131
121.0       4217
342.0       4431
885.0       4447
482.0       4824
402.0       4830
338.0       5010
239.0       5912
460.0       6406
91.0        6688
214.0       7053
451.0       7421
566.0       7557
469.0       7692
578.0      10060
978.0      10753
267.0      14967
195.0      14989
285.0      15542
971.0      15745
308.0      16387
521.0      18154
229.0      18737
266.0      19008
368.0      22527
184.0      23179
154.0      28772
130.0      34460
306.0      39398
626.0      42879
346.0      43268
384.0      51904
277.0      55522
492.0      66998
619.0      73695
125.0      77517
330.0      96899
410.0     140994
389.0     165689
255.0     190774
240.0     209564
461.0     212548
192.0     233259
305.0     247383
322.0     256041
301.0     310229
420.0     314809
300.0     510562
297.0     660097
205.0     712141
380.0     761386
395.0     885678
85.0      898945
35.0     1032536
115.0    1033522
55.0     1040215
259.0    1147264
370.0    1393471
421.0    1649921
434.0    2096106
65.0     2165014
260.0    3865656
dtype: int64

In [20]:
# no action needed

## âœ… Final Data Cleaning - Vendor Table

In [21]:
vendor.shape

(23154845, 2)

In [22]:
# Drop duplicates
vendor.drop_duplicates(keep = 'first', inplace = True)
vendor.shape

(397, 2)

In [23]:
vendor = vendor.reset_index(drop=True)

In [24]:
vendor.head()

   VendorID             VendorName
0      55.0  Sazerac North America
1     434.0         Luxco-St Louis
2     277.0            Stoli Group
3     260.0        Diageo Americas
4     421.0      Sazerac Co., Inc.

In [25]:
vendor.isnull().sum(axis = 0)

VendorID      1
VendorName    0
dtype: int64

In [26]:
# Addressing missing VendorID
vendor.loc[vendor['VendorID'].isnull()]

     VendorID            VendorName
269       NaN  Reservoir Distillery

In [27]:
# checking sales df, two rows, but no vendor id available
sales.loc[sales['VendorName'] == 'Reservoir Distillery']

,Invoice/ItemNumber,Date,StoreNumber,StoreName,Address,City,ZipCode,StoreLocation,CountyNumber,County,Category,CategoryName,VendorNumber,VendorName,ItemNumber,ItemDescription,Pack,BottleVolume(ml),StateBottleCost,StateBottleRetail,BottlesSold,Sale(Dollars),VolumeSold(Liters),VolumeSold(Gallons)
13015101,INV-00993400006,2016-10-17,2190,"Central City Liquor, Inc.",1460 2ND AVE,Des Moines,50314,POINT (-93.619787 41.60566),77.0,POLK,1011300.0,Single Barrel Bourbon Whiskies,NaN,Reservoir Distillery,916456,Reservoir Bourbon Whiskey,6,750,45.0,67.5,30,2025.0,22.5,5.94
13026876,INV-00993400007,2016-10-17,2190,"Central City Liquor, Inc.",1460 2ND AVE,Des Moines,50314,POINT (-93.619787 41.60566),77.0,POLK,1091100.0,American Distilled Spirit Specialty,NaN,Reservoir Distillery,927565,Reservoir Wheat Whiskey,6,750,45.0,67.5,18,1215.0,13.5,3.57

In [28]:
np.sort(vendor['VendorID'].unique())

array([ 10.,  14.,  27.,  33.,  35.,  51.,  55.,  61.,  65.,  68.,  69.,
        79.,  80.,  82.,  85.,  86.,  89.,  90.,  91., 100., 101., 102.,
       104., 107., 108., 109., 110., 111., 112., 113., 114., 115., 116.,
       118., 119., 121., 122., 125., 127., 128., 130., 136., 137., 138.,
       140., 143., 146., 150., 154., 155., 156., 158., 160., 161., 163.,
       164., 166., 184., 185., 187., 190., 191., 192., 194., 195., 196.,
       197., 198., 203., 204., 205., 206., 207., 208., 209., 210., 211.,
       212., 214., 215., 216., 217., 220., 223., 224., 226., 227., 229.,
       231., 232., 233., 234., 235., 239., 240., 244., 246., 249., 250.,
       251., 252., 254., 255., 256., 258., 259., 260., 261., 263., 266.,
       267., 268., 269., 270., 273., 274., 277., 278., 279., 280., 281.,
       282., 283., 284., 285., 287., 288., 290., 293., 294., 295., 297.,
       298., 300., 301., 305., 306., 307., 308., 310., 311., 312., 313.,
       315., 317., 318., 322., 324., 325., 329., 330., 333., 334., 336.,
       337., 338., 341., 342., 343., 346., 347., 348., 349., 350., 351.,
       353., 355., 356., 357., 358., 359., 361., 363., 365., 367., 368.,
       369., 370., 372., 373., 374., 375., 376., 377., 379., 380., 381.,
       384., 386., 389., 390., 391., 394., 395., 397., 398., 399., 402.,
       407., 408., 410., 411., 413., 414., 415., 418., 420., 421., 422.,
       423., 425., 426., 428., 431., 432., 434., 435., 436., 437., 439.,
       442., 446., 447., 448., 451., 452., 456., 459., 460., 461., 462.,
       463., 465., 468., 469., 470., 472., 473., 475., 476., 477., 478.,
       479., 481., 482., 483., 485., 486., 487., 488., 491., 492., 493.,
       495., 496., 497., 501., 502., 503., 504., 505., 506., 507., 510.,
       511., 512., 513., 515., 516., 519., 520., 521., 522., 523., 524.,
       525., 528., 531., 536., 537., 538., 539., 540., 543., 545., 547.,
       548., 549., 552., 553., 554., 555., 556., 557., 558., 559., 560.,
       561., 564., 565., 566., 567., 569., 573., 574., 575., 577., 578.,
       580., 582., 583., 584., 585., 586., 589., 591., 592., 594., 600.,
       602., 603., 606., 607., 608., 609., 611., 614., 617., 618., 619.,
       620., 621., 622., 623., 624., 625., 626., 629., 631., 633., 634.,
       638., 641., 642., 643., 644., 645., 646., 647., 649., 650., 654.,
       655., 656., 657., 659., 661., 662., 671., 673., 675., 677., 684.,
       685., 686., 688., 690., 694., 698., 699., 702., 705., 706., 710.,
       714., 727., 731., 734., 736., 742., 745., 747., 749., 753., 754.,
       803., 885., 886., 888., 890., 962., 969., 971., 977., 978., 987.,
        nan])

In [29]:
# chose a VendorID = 988 for this vendor 
vendor.loc[vendor['VendorID'].isnull(),'VendorID'] = '988'

In [30]:
vendor.isnull().sum(axis = 0)

VendorID      0
VendorName    0
dtype: int64

In [31]:
vendor.head()

  VendorID             VendorName
0     55.0  Sazerac North America
1    434.0         Luxco-St Louis
2    277.0            Stoli Group
3    260.0        Diageo Americas
4    421.0      Sazerac Co., Inc.

In [32]:
vendor.to_csv('../data/vendor.csv', index_label = False)