In [1]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
plt.style.use('ggplot')
plt.rcParams.update({'font.size': 20})

In [2]:
pd.set_option('display.max_rows', 500)
pd.set_option('display.max_columns', 500)

# Import Liquor Sales database

In [3]:
%%time
sales = pd.read_csv('../data/Iowa_Liquor_Sales.csv')

/opt/conda/lib/python3.9/site-packages/IPython/core/magics/execution.py:1324: DtypeWarning: Columns (6,14) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code, glob, local_ns)

CPU times: user 59.6 s, sys: 5.87 s, total: 1min 5s
Wall time: 1min 6s

In [4]:
sales.columns

Index(['Invoice/Item Number', 'Date', 'Store Number', 'Store Name', 'Address',
       'City', 'Zip Code', 'Store Location', 'County Number', 'County',
       'Category', 'Category Name', 'Vendor Number', 'Vendor Name',
       'Item Number', 'Item Description', 'Pack', 'Bottle Volume (ml)',
       'State Bottle Cost', 'State Bottle Retail', 'Bottles Sold',
       'Sale (Dollars)', 'Volume Sold (Liters)', 'Volume Sold (Gallons)'],
      dtype='object')

In [5]:
print('The number of rows: ', sales.shape[0])

The number of rows:  23154845

In [6]:
print('The number of features: ', sales.shape[1])

The number of features:  24

In [7]:
print('The datatypes in the dataframe:')
sales.dtypes.unique()

The datatypes in the dataframe:

array([dtype('O'), dtype('int64'), dtype('float64')], dtype=object)

In [8]:
# Create a Year Column
temp = sales['Date']
temp_split0 = temp.str.split('/', n=- 1, expand=True)
temp_split = temp_split0.drop(temp_split0.columns[[1]], axis=1)

sales["Year"] = temp_split[2]

In [9]:
sales.head(10)

,Invoice/Item Number,Date,Store Number,Store Name,Address,City,Zip Code,Store Location,County Number,County,Category,Category Name,Vendor Number,Vendor Name,Item Number,Item Description,Pack,Bottle Volume (ml),State Bottle Cost,State Bottle Retail,Bottles Sold,Sale (Dollars),Volume Sold (Liters),Volume Sold (Gallons),Year
0,S24032900031,02/16/2015,3385,Sam's Club 8162 / Cedar Rapids,2605 BLAIRS FERRY RD NE,CEDAR RAPIDS,52402,POINT (-91.67969 42.031819),57.0,Linn,1041100.0,AMERICAN DRY GINS,55.0,Sazerac North America,29287,Barton Gin,12,1000,3.92,5.88,24,141.12,24.00,6.34,2015
1,S25392600010,04/30/2015,5034,Liquor Tobacco & Groceries,18 N MONROE AVE,MASON CITY,50401,POINT (-93.208614 43.152301),17.0,Cerro Gordo,1011200.0,STRAIGHT BOURBON WHISKIES,434.0,Luxco-St Louis,18196,Ezra Brooks 50 Mo Ky Sour Mash Bourbon,12,750,6.84,10.26,12,123.12,9.00,2.38,2015
2,S08041400024,10/01/2012,2500,Hy-Vee Food Store #1 / Ames,3800 W LINCOLN WAY,AMES,50010,NaN,85.0,Story,1081300.0,PEPPERMINT SCHNAPPS,434.0,Luxco-St Louis,81406,Thunder 101 Peppermint Schnapps,12,750,6.50,9.75,12,117.00,9.00,2.38,2012
3,S13626800019,07/30/2013,4203,Liquor and Tobacco Outlet /,620 W BREMER AVE,WAVERLY,50677,POINT (-92.47898 42.725694),9.0,Bremer,1062200.0,PUERTO RICO & VIRGIN ISLANDS RUM,434.0,Luxco-St Louis,45276,Paramount White Rum,12,750,3.85,5.77,12,69.24,9.00,2.38,2013
4,S20264600081,07/23/2014,4509,A J'S LIQUOR II,2515 CHAMBERLAIN,AMES,50010,POINT (-93.650838 42.021461),85.0,Story,1032080.0,IMPORTED VODKA,277.0,Stoli Group,34729,Stolichnaya Elit Vodka,6,750,29.99,44.99,1,44.99,0.75,0.20,2014
5,S04724800133,03/26/2012,2634,Hy-Vee Wine and Spirits / Ames,3615 LINCOLN WAY,AMES,50014,POINT (-93.667932 42.022911),85.0,Story,1012100.0,CANADIAN WHISKIES,260.0,Diageo Americas,11347,Seagrams V.o. Bl Canadian Whisky,12,1000,9.49,14.24,2,28.48,2.00,0.53,2012
6,S22974600041,12/16/2014,4102,Fareway Stores #386 / Ames,619 BURNETT AVE,AMES,50010,POINT (-93.615428 42.027426),85.0,Story,1081010.0,AMERICAN AMARETTO,434.0,Luxco-St Louis,76486,Paramount Amaretto,12,750,3.38,5.07,6,30.42,4.50,1.19,2014
7,S13716500005,08/07/2013,4862,Pronto Market / Kingsley,101 MAIN ST,KINGSLEY,51028,POINT (-95.967322 42.58707400000001),75.0,Plymouth,1022100.0,TEQUILA,421.0,"Sazerac Co., Inc.",88768,Tortilla White Tequila,6,1750,12.83,19.24,6,115.44,10.50,2.77,2013
8,S04414200031,03/06/2012,2522,Hy-Vee Wine and Spirits / Spirit Lak,HWY 9 & 71,SPIRIT LAKE,51360,NaN,30.0,Dickinson,1031100.0,100 PROOF VODKA,300.0,Mccormick Distilling Company,36908,Mccormick Vodka Pet,6,1750,7.46,11.19,6,67.14,10.50,2.77,2012
9,S23072400091,12/20/2014,2508,Hy-Vee Food Store #1 / Cedar Rapids,"1843 JOHNSON AVENUE, N.W.",CEDAR RAPIDS,52405,POINT (-91.697941 41.97447),57.0,Linn,1012100.0,CANADIAN WHISKIES,115.0,"Constellation Wine Company, Inc.",10548,Black Velvet Toasted Caramel,6,1750,12.99,19.49,6,116.94,10.50,2.77,2014

In [10]:
%%time
product_df = pd.read_csv('../data/Iowa_Liquor_Products.csv')

CPU times: user 24.8 ms, sys: 74 µs, total: 24.9 ms
Wall time: 23.4 ms

In [11]:
# Get rid of spaces in column names
sales.columns = sales.columns.str.replace(' ','')
product_df.columns = product_df.columns.str.replace(' ','')

In [12]:
sales.columns

Index(['Invoice/ItemNumber', 'Date', 'StoreNumber', 'StoreName', 'Address',
       'City', 'ZipCode', 'StoreLocation', 'CountyNumber', 'County',
       'Category', 'CategoryName', 'VendorNumber', 'VendorName', 'ItemNumber',
       'ItemDescription', 'Pack', 'BottleVolume(ml)', 'StateBottleCost',
       'StateBottleRetail', 'BottlesSold', 'Sale(Dollars)',
       'VolumeSold(Liters)', 'VolumeSold(Gallons)', 'Year'],
      dtype='object')

In [13]:
product_df.columns

Index(['ItemNumber', 'CategoryName', 'ItemDescription', 'Vendor', 'VendorName',
       'BottleVolume(ml)', 'Pack', 'InnerPack', 'Age', 'Proof', 'ListDate',
       'UPC', 'SCC', 'StateBottleCost', 'StateCaseCost', 'StateBottleRetail',
       'ReportDate'],
      dtype='object')

In [14]:
sales['Date']= pd.to_datetime(sales['Date'])

# Clean & Create Transaction Table

In [15]:
# add category group!!!!!!
transaction_col = ['Invoice/ItemNumber',
                   'Date',
                   'StoreNumber',
                   'ItemNumber',
                   'VendorNumber',
                   'BottlesSold',
                   'VolumeSold(Gallons)',
                   'Sale(Dollars)']

transaction = sales[transaction_col].copy()

In [16]:
transaction.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23154845 entries, 0 to 23154844
Data columns (total 8 columns):
 #   Column               Dtype
---  ------               -----
 0   Invoice/ItemNumber   object
 1   Date                 datetime64[ns]
 2   StoreNumber          int64
 3   ItemNumber           object
 4   VendorNumber         float64
 5   BottlesSold          int64
 6   VolumeSold(Gallons)  float64
 7   Sale(Dollars)        float64
dtypes: datetime64[ns](1), float64(3), int64(2), object(2)
memory usage: 1.4+ GB

## 🧹 Data Cleaning - Transaction Table

In [17]:
# Data Cleaning
transaction.rename(columns = {'Invoice/ItemNumber':'TransactionID',
                              'StoreNumber':'StoreID',
                              'ItemNumber':'ProductID',
                              'VendorNumber':'VendorID',
                            'VolumeSold(Gallons)':'VolumeSold_Gallons',
                             'Sale(Dollars)':'Sale_Dollars'}, inplace = True)
transaction['TransactionID'] = transaction['TransactionID'].apply(str)
transaction['ProductID'] = transaction['ProductID'].apply(str)

In [18]:
transaction['Date'] = pd.to_datetime(transaction['Date'])

In [19]:
transaction.head()

,TransactionID,Date,StoreID,ProductID,VendorID,BottlesSold,VolumeSold_Gallons,Sale_Dollars
0,S24032900031,2015-02-16,3385,29287,55.0,24,6.34,141.12
1,S25392600010,2015-04-30,5034,18196,434.0,12,2.38,123.12
2,S08041400024,2012-10-01,2500,81406,434.0,12,2.38,117.00
3,S13626800019,2013-07-30,4203,45276,434.0,12,2.38,69.24
4,S20264600081,2014-07-23,4509,34729,277.0,1,0.20,44.99

In [20]:
transaction.isnull().sum(axis = 0)

TransactionID          0
Date                   0
StoreID                0
ProductID              0
VendorID               9
BottlesSold            0
VolumeSold_Gallons     0
Sale_Dollars          10
dtype: int64

In [21]:
transaction = transaction.dropna()

In [22]:
transaction.isnull().sum(axis = 0)

TransactionID         0
Date                  0
StoreID               0
ProductID             0
VendorID              0
BottlesSold           0
VolumeSold_Gallons    0
Sale_Dollars          0
dtype: int64

In [24]:
transaction.to_csv('../data/transaction.csv', index_label = False)

In [23]:
transaction.groupby(['TransactionID']).size().sort_values()

TransactionID
306831300001       1
S10087900116       1
S10087900115       1
S10087900114       1
S10087900113       1
                  ..
INV-23918300006    1
INV-23918300005    1
INV-23918300004    1
INV-23918500039    1
S444400083         1
Length: 23154826, dtype: int64