In [1]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
plt.style.use('ggplot')
plt.rcParams.update({'font.size': 20})

In [2]:
pd.set_option('display.max_rows', 500)
pd.set_option('display.max_columns', 500)

# 1. Import Liquor Sales database

In [3]:
%%time
sales = pd.read_csv('../data/Iowa_Liquor_Sales.csv')

/opt/conda/lib/python3.9/site-packages/IPython/core/magics/execution.py:1324: DtypeWarning: Columns (6,14) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code, glob, local_ns)

CPU times: user 1min, sys: 6.03 s, total: 1min 6s
Wall time: 1min 6s

In [4]:
sales.columns

Index(['Invoice/Item Number', 'Date', 'Store Number', 'Store Name', 'Address',
       'City', 'Zip Code', 'Store Location', 'County Number', 'County',
       'Category', 'Category Name', 'Vendor Number', 'Vendor Name',
       'Item Number', 'Item Description', 'Pack', 'Bottle Volume (ml)',
       'State Bottle Cost', 'State Bottle Retail', 'Bottles Sold',
       'Sale (Dollars)', 'Volume Sold (Liters)', 'Volume Sold (Gallons)'],
      dtype='object')

In [5]:
print('The number of rows: ', sales.shape[0])

The number of rows:  23154845

In [6]:
print('The number of features: ', sales.shape[1])

The number of features:  24

In [7]:
print('The datatypes in the dataframe:')
sales.dtypes.unique()

The datatypes in the dataframe:

array([dtype('O'), dtype('int64'), dtype('float64')], dtype=object)

In [8]:
# Create a Year Column
temp = sales['Date']
temp_split0 = temp.str.split('/', n=- 1, expand=True)
temp_split = temp_split0.drop(temp_split0.columns[[1]], axis=1)

sales["Year"] = temp_split[2]

In [9]:
sales.head(10)

,Invoice/Item Number,Date,Store Number,Store Name,Address,City,Zip Code,Store Location,County Number,County,Category,Category Name,Vendor Number,Vendor Name,Item Number,Item Description,Pack,Bottle Volume (ml),State Bottle Cost,State Bottle Retail,Bottles Sold,Sale (Dollars),Volume Sold (Liters),Volume Sold (Gallons),Year
0,S24032900031,02/16/2015,3385,Sam's Club 8162 / Cedar Rapids,2605 BLAIRS FERRY RD NE,CEDAR RAPIDS,52402,POINT (-91.67969 42.031819),57.0,Linn,1041100.0,AMERICAN DRY GINS,55.0,Sazerac North America,29287,Barton Gin,12,1000,3.92,5.88,24,141.12,24.00,6.34,2015
1,S25392600010,04/30/2015,5034,Liquor Tobacco & Groceries,18 N MONROE AVE,MASON CITY,50401,POINT (-93.208614 43.152301),17.0,Cerro Gordo,1011200.0,STRAIGHT BOURBON WHISKIES,434.0,Luxco-St Louis,18196,Ezra Brooks 50 Mo Ky Sour Mash Bourbon,12,750,6.84,10.26,12,123.12,9.00,2.38,2015
2,S08041400024,10/01/2012,2500,Hy-Vee Food Store #1 / Ames,3800 W LINCOLN WAY,AMES,50010,NaN,85.0,Story,1081300.0,PEPPERMINT SCHNAPPS,434.0,Luxco-St Louis,81406,Thunder 101 Peppermint Schnapps,12,750,6.50,9.75,12,117.00,9.00,2.38,2012
3,S13626800019,07/30/2013,4203,Liquor and Tobacco Outlet /,620 W BREMER AVE,WAVERLY,50677,POINT (-92.47898 42.725694),9.0,Bremer,1062200.0,PUERTO RICO & VIRGIN ISLANDS RUM,434.0,Luxco-St Louis,45276,Paramount White Rum,12,750,3.85,5.77,12,69.24,9.00,2.38,2013
4,S20264600081,07/23/2014,4509,A J'S LIQUOR II,2515 CHAMBERLAIN,AMES,50010,POINT (-93.650838 42.021461),85.0,Story,1032080.0,IMPORTED VODKA,277.0,Stoli Group,34729,Stolichnaya Elit Vodka,6,750,29.99,44.99,1,44.99,0.75,0.20,2014
5,S04724800133,03/26/2012,2634,Hy-Vee Wine and Spirits / Ames,3615 LINCOLN WAY,AMES,50014,POINT (-93.667932 42.022911),85.0,Story,1012100.0,CANADIAN WHISKIES,260.0,Diageo Americas,11347,Seagrams V.o. Bl Canadian Whisky,12,1000,9.49,14.24,2,28.48,2.00,0.53,2012
6,S22974600041,12/16/2014,4102,Fareway Stores #386 / Ames,619 BURNETT AVE,AMES,50010,POINT (-93.615428 42.027426),85.0,Story,1081010.0,AMERICAN AMARETTO,434.0,Luxco-St Louis,76486,Paramount Amaretto,12,750,3.38,5.07,6,30.42,4.50,1.19,2014
7,S13716500005,08/07/2013,4862,Pronto Market / Kingsley,101 MAIN ST,KINGSLEY,51028,POINT (-95.967322 42.58707400000001),75.0,Plymouth,1022100.0,TEQUILA,421.0,"Sazerac Co., Inc.",88768,Tortilla White Tequila,6,1750,12.83,19.24,6,115.44,10.50,2.77,2013
8,S04414200031,03/06/2012,2522,Hy-Vee Wine and Spirits / Spirit Lak,HWY 9 & 71,SPIRIT LAKE,51360,NaN,30.0,Dickinson,1031100.0,100 PROOF VODKA,300.0,Mccormick Distilling Company,36908,Mccormick Vodka Pet,6,1750,7.46,11.19,6,67.14,10.50,2.77,2012
9,S23072400091,12/20/2014,2508,Hy-Vee Food Store #1 / Cedar Rapids,"1843 JOHNSON AVENUE, N.W.",CEDAR RAPIDS,52405,POINT (-91.697941 41.97447),57.0,Linn,1012100.0,CANADIAN WHISKIES,115.0,"Constellation Wine Company, Inc.",10548,Black Velvet Toasted Caramel,6,1750,12.99,19.49,6,116.94,10.50,2.77,2014

In [10]:
%%time
product_df = pd.read_csv('../data/Iowa_Liquor_Products.csv')

CPU times: user 29 ms, sys: 100 Âµs, total: 29.1 ms
Wall time: 27.5 ms

In [11]:
# Get rid of spaces in column names
sales.columns = sales.columns.str.replace(' ','')
product_df.columns = product_df.columns.str.replace(' ','')

In [12]:
sales.columns

Index(['Invoice/ItemNumber', 'Date', 'StoreNumber', 'StoreName', 'Address',
       'City', 'ZipCode', 'StoreLocation', 'CountyNumber', 'County',
       'Category', 'CategoryName', 'VendorNumber', 'VendorName', 'ItemNumber',
       'ItemDescription', 'Pack', 'BottleVolume(ml)', 'StateBottleCost',
       'StateBottleRetail', 'BottlesSold', 'Sale(Dollars)',
       'VolumeSold(Liters)', 'VolumeSold(Gallons)', 'Year'],
      dtype='object')

In [13]:
product_df.columns

Index(['ItemNumber', 'CategoryName', 'ItemDescription', 'Vendor', 'VendorName',
       'BottleVolume(ml)', 'Pack', 'InnerPack', 'Age', 'Proof', 'ListDate',
       'UPC', 'SCC', 'StateBottleCost', 'StateCaseCost', 'StateBottleRetail',
       'ReportDate'],
      dtype='object')

In [14]:
sales['Date']= pd.to_datetime(sales['Date'])

# 2. Product Table

In [15]:
product_col = ['ItemNumber',
            'ItemDescription',
            'Category',
            'CategoryName',
            'Pack',
            'BottleVolume(ml)',
            'VendorNumber',
            'Date',
            'Year']

product = sales[product_col].copy()

## ðŸ§¹ Data Cleaning - Product Table

In [16]:
# Rename some columns
product.rename(columns = {'ItemNumber':'ProductID',
                          'ItemDescription':'ProductDescription',
                          'Category':'CategoryCode',
                          'BottleVolume(ml)':'BottleVolume',
                          'VendorNumber':'VendorID'}, inplace = True)
# Make lower-case
product['CategoryName'] = product['CategoryName'].str.lower()
product['ProductDescription'] = product['ProductDescription'].str.lower()

In [17]:
product.head()

,ProductID,ProductDescription,CategoryCode,CategoryName,Pack,BottleVolume,VendorID,Date,Year
0,29287,barton gin,1041100.0,american dry gins,12,1000,55.0,2015-02-16,2015
1,18196,ezra brooks 50 mo ky sour mash bourbon,1011200.0,straight bourbon whiskies,12,750,434.0,2015-04-30,2015
2,81406,thunder 101 peppermint schnapps,1081300.0,peppermint schnapps,12,750,434.0,2012-10-01,2012
3,45276,paramount white rum,1062200.0,puerto rico & virgin islands rum,12,750,434.0,2013-07-30,2013
4,34729,stolichnaya elit vodka,1032080.0,imported vodka,6,750,277.0,2014-07-23,2014

In [18]:
product.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23154845 entries, 0 to 23154844
Data columns (total 9 columns):
 #   Column              Dtype
---  ------              -----
 0   ProductID           object
 1   ProductDescription  object
 2   CategoryCode        float64
 3   CategoryName        object
 4   Pack                int64
 5   BottleVolume        int64
 6   VendorID            float64
 7   Date                datetime64[ns]
 8   Year                object
dtypes: datetime64[ns](1), float64(2), int64(2), object(4)
memory usage: 1.6+ GB

In [19]:
product.shape[0]

23154845

### I. Looking at ProductID numbers with missing CategoryCode data

In [20]:
# Converting all of these to strings, some are numeric, others are strings
# cannot convert to numeric because I get an error for a combo ID, e.g. x1000 (not a real ID)
product['ProductID'] = product['ProductID'].apply(str)

In [21]:
# Which ProductID numbers are missing CategoryCode data?
ProductIDs_missing_category = product.loc[product['CategoryCode'].isnull(),'ProductID'].unique()
ProductIDs_missing_category

array(['3337', '59100', '1488', '893', '22227', '994992', '475', '3005',
       '725', '3345', '1475', '297', '36390', '2992', '900674', '927221',
       '333', '84197', '36122', '457', '80024', '988849', '941836',
       '984393', '920376', '986771', '940020', '73685', '912306',
       '905447', '967341', '940146', '994797', '965646', '934065',
       '946916', '964018', '40569', '994771', '927367', '982756', '72434',
       '100015', '27849', '918326', '945421', '2313', '62920', '163',
       '3360', '916839', '100005', '100080', '33508', '349', '115',
       '940055', '133', '988063', '76436', '86624', '66518', '900199',
       '43086', '3465', '100046', '100025', '27141', '977256', '916666',
       '758', '490', '558', '145', '100041', '77744', '40005', '100026',
       '100033', '359', '364', '2629', '10549', '212', '51199', '27850',
       '641', '100360', '559', '48181', '64986', '89155', '53210',
       '43117', '3135', '927114', '985556', '985555', '994811', '985557',
       '995674', '987407', '920676', '985554', '985553', '976047',
       '100022', '900419', '34736', '989624', '930853', '994046',
       '995509', '940831', '921946', '917677', '965986', '944561',
       '976642', '942462', '935543', '967036', '78059', '976641',
       '919040', '942332', '943280', '964049', '905608', '973508',
       '987955', '987952', '987951', '928420', '915951', '933933',
       '984399', '927357', '986515', '926684', '943546', '997877',
       '926732', '942330', '922178', '928270', '902152', '901636',
       '926491', '926786', '928271', '881', '12863', '217', '633', '4055',
       '943458', '2511', '44259', '35698', '940591', '19560', '155',
       '77573', '3201', '900480', '943675', '929570', '73206', '904596',
       '940013', '927543', '964694', '940576', '80130', '977872',
       '927798', '27829', '905118', '944489', '994405', '985298', '84144',
       '84152', '100068', '84151', '38176', '43442', '77322', '43439',
       '40649', '77902', '80144', '68042', '80128', '77903', '80145',
       '699', '693', '100135', '935863', '927080', '986677', '428', '108',
       '72730', '41941', '124', '980428', '73684', '100006', '934697',
       '14486', '76668', '76024', '985603', '36410', '104', '160', '139',
       '58892', '127', '129', '36352', '561', '48182', '101', '958814',
       '900477', '58882', '86747', '227', '2382', '89174', '927368',
       '71902', '64674', '73645', '100065', '45869', '901289', '901290',
       '901293', '65788', '900754', '900478', '987873', '900484',
       '900482', '987882', '900487', '987872', '987883', '901296',
       '987870', '900752', '900485', '901294', '987869', '904751',
       '28656', '28638', '919044', '900420', '900750', '900481', '956417',
       '977877', '934958', '43990', '900486', '900483', '965015',
       '987875', '900479', '901288', '987885', '915608', '987884',
       '995209', '995218', '995214', '995216', '995508', '995217',
       '973624', '995210', '995215', '995207', '995213', '995208',
       '995212', '995211', '940909', '928096', '905211', '936206',
       '947546', '990185', '964854', '900476', '994873', '994874',
       '901134', '902129', '987888', '995756', '984162', '905433',
       '987886', '988833', '935969', '927516', '900421', '927833',
       '935743', '905234', '905380', '904754', '100227', '3273', '100229',
       '100282', '63781', '41127', '36374', '10840', '63865', '28888',
       '41467', '76664', '477', '982601', '86627', '161', '168', '80437',
       '56802', '967599', '978867', '905309', '984367', '942063',
       '900451', '954137', '905199', '980505', '249', '237', '929969',
       '989203'], dtype=object)

In [22]:
%%time
# if CategoryCode information is available on other rows, use the last CategoryCode & Category Name to fill in the information
for ID in ProductIDs_missing_category:
    # print(ID)
    temp = product.loc[product['ProductID'].isin([ID])] # create a smaller table of this product id
    temp = temp.sort_values(['Date'])
    ncodes_with_data = temp['CategoryCode'].nunique() 
    # print(ncodes_with_data)
    temp_notnull = temp.loc[temp['CategoryCode'].notnull()]

    # print(temp_notnull)
    if ncodes_with_data > 0:
        product.loc[((product['ProductID'].isin([ID]))&(product['CategoryCode'].isnull())),'CategoryName'] = temp_notnull['CategoryName'][temp_notnull.index[-1]]
        product.loc[((product['ProductID'].isin([ID]))&(product['CategoryCode'].isnull())),'CategoryCode'] = temp_notnull['CategoryCode'][temp_notnull.index[-1]]

CPU times: user 15min 11s, sys: 719 ms, total: 15min 12s
Wall time: 15min 13s

In [23]:
# The remaining ProductID numbers that are still missing CategoryCode data
product.loc[product['CategoryCode'].isnull(),'ProductID'].unique()

array(['3337', '22227', '994992', '1475', '2992', '900674', '927221',
       '333', '994771', '940055', '133', '900199', '758', '145', '100041',
       '100026', '100033', '359', '364', '2629', '212', '100360', '559',
       '995674', '100022', '930853', '995509', '967036', '78059',
       '933933', '997877', '881', '19560', '929570', '964694', '994405',
       '100068', '108', '104', '160', '48182', '101', '2382', '904751',
       '43990', '965015', '995209', '995218', '995214', '995216',
       '995217', '995210', '995215', '995207', '995213', '995208',
       '995212', '995211', '905211', '990185', '994873', '994874',
       '995756', '984162', '905433', '927516', '927833', '905234',
       '100227', '3273', '100229', '100282', '984367', '905199', '237',
       '929969', '989203'], dtype=object)

### II. Looking at CategoryCode numbers with mulitiple CategoryName values

In [24]:
print('Number of Category Codes: ', product['CategoryCode'].nunique())

Number of Category Codes:  112

In [25]:
product.groupby(['CategoryCode','CategoryName'])['Pack'].count()

CategoryCode  CategoryName
1011000.0     american whiskies                             1
1011100.0     blended whiskies                        1005102
1011200.0     straight bourbon whiskies               1414595
1011250.0     single barrel bourbon whiskies             9273
1011300.0     single barrel bourbon whiskies            19600
              tennessee whiskies                       245162
1011400.0     bottled in bond bourbon                    6417
              tennessee whiskies                       364034
1011500.0     bottled in bond bourbon                   12297
              straight rye whiskies                     59874
1011600.0     corn whiskies                               752
              straight rye whiskies                     96425
1011700.0     corn whiskies                              9035
1011800.0     iowa distillery whiskies                    362
1012000.0     imported whiskies                            31
1012100.0     canadian whiskies                       2230891
1012200.0     scotch whiskies                          411066
1012210.0     single malt scotch                        82714
1012300.0     irish whiskies                            88411
              single malt scotch                       112813
1012400.0     irish whiskies                           163640
              japanese whisky                             286
1022100.0     mixto tequila                            284740
              tequila                                  435311
1022200.0     100% agave tequila                       381870
1022300.0     mezcal                                     7716
1031000.0     american vodka                             5350
1031080.0     vodka 80 proof                          1265976
1031090.0     other proof vodka                          3398
1031100.0     100 proof vodka                           99124
              american vodkas                         1977356
1031110.0     low proof vodka                            1565
1031200.0     american flavored vodka                  645507
              vodka flavored                           502830
1032000.0     imported vodka                             1682
1032080.0     imported vodka                           404049
1032100.0     imported vodkas                          443127
1032200.0     imported flavored vodka                  257843
              imported vodka - misc                    256305
1032230.0     imported vodka - cherry                      14
1041100.0     american dry gins                        515582
1041150.0     flavored gins                             12010
1041200.0     american sloe gins                         7002
              flavored gin                               9985
1041300.0     american sloe gins                         4314
1042000.0     imported gins                                29
1042100.0     imported dry gins                        255733
1051010.0     american grape brandies                  243144
1051100.0     american brandies                        414492
              apricot brandies                          38510
1051110.0     blackberry brandies                       59714
1051120.0     cherry brandies                           13216
1051140.0     peach brandies                            15070
1051150.0     miscellaneous  brandies                    4215
1052010.0     imported grape brandies                  155694
1052100.0     imported brandies                        273997
1062050.0     barbados rum                               9909
1062100.0     gold rum                                  82417
              jamaica rum                               15292
1062200.0     puerto rico & virgin islands rum         395382
              white rum                                311359
1062300.0     aged dark rum                             38203
              flavored rum                             278371
1062310.0     spiced rum                               530323
1062400.0     spiced rum                               633630
1062500.0     flavored rum                             333336
1070000.0     cocktails / rtd                             990
1070100.0     temporary  & specialty packages              35
1071100.0     american cocktails                       284701
              cocktails /rtd                           378775
1081000.0     american cordials & liqueurs               2327
1081010.0     american amaretto                         53417
1081015.0     imported amaretto                         12753
1081020.0     anisette                                   1441
1081030.0     coffee liqueurs                           75511
1081100.0     coffee liqueurs                           79586
1081200.0     cream liqueurs                           508140
1081210.0     creme de almond                            1631
1081220.0     dark creme de cacao                        6591
1081230.0     white creme de cacao                       7213
1081240.0     green creme de menthe                      8961
1081250.0     white creme de menthe                      2459
1081300.0     american cordials & liqueur              315863
              peppermint schnapps                      120504
1081305.0     apple schnapps                            33100
1081312.0     butterscotch schnapps                     33865
1081315.0     cinnamon schnapps                         34235
1081317.0     grape schnapps                            13044
1081330.0     peach schnapps                            63400
1081335.0     raspberry schnapps                        13207
1081340.0     root beer schnapps                        13615
1081350.0     spearmint schnapps                         2928
1081355.0     strawberry schnapps                       11853
1081365.0     tropical fruit schnapps                   10644
1081370.0     watermelon schnapps                       17844
1081380.0     miscellaneous schnapps                    32375
1081390.0     imported schnapps                        169243
1081400.0     american schnapps                        430416
              triple sec                                48609
1081500.0     rock & rye                                 2660
              triple sec                                49404
1081600.0     whiskey liqueur                          997691
1081700.0     distilled spirits specialty               60286
1081900.0     misc. american cordials & liqueurs       127056
1082000.0     imported cordials & liqueurs             299582
1082010.0     amaretto - imported                         102
1082015.0     imported amaretto                            36
1082100.0     imported cordials & liqueur                7651
1082200.0     imported schnapps                        206469
1082300.0     schnapps - imported                           1
1082390.0     schnapps - imported                          16
1082900.0     misc. imported cordials & liqueurs       246158
1090000.0     distilled spirits specialty                 307
1091000.0     american distilled spirits specialty        279
1091100.0     american distilled spirit specialty       28301
1091200.0     neutral grain spirits                     29245
1091300.0     neutral grain spirits flavored            43551
1091400.0     iowa distilleries                          2855
1092000.0     imported distilled spirits specialty        140
1092100.0     imported distilled spirit specialty       17112
1101100.0     american alcohol                          24357
1501100.0     high proof beer - american                   32
1700000.0     temporary &  specialty packages           16778
1701100.0     decanters & specialty packages            41390
              temporary & specialty packages           167343
1701200.0     holiday vap                                1657
1900000.0     delisted / special order items                1
1901100.0     delisted items                               63
1901200.0     special order items                       27066
Name: Pack, dtype: int64

In [26]:
# looking at an example
test = product.sort_values(['CategoryCode','CategoryName','Date'])
test.loc[test['CategoryCode']==1022200]

,ProductID,ProductDescription,CategoryCode,CategoryName,Pack,BottleVolume,VendorID,Date,Year
11273979,88036,margaritaville silver tequila,1022200.0,100% agave tequila,12,750,330.0,2016-08-29,2016
11274324,88296,patron tequila silver,1022200.0,100% agave tequila,12,750,410.0,2016-08-29,2016
11274331,88296,patron tequila silver,1022200.0,100% agave tequila,12,750,410.0,2016-08-29,2016
11275202,89626,patron reposado tequila,1022200.0,100% agave tequila,12,750,410.0,2016-08-29,2016
11275223,88841,hornitos black barrel,1022200.0,100% agave tequila,12,750,65.0,2016-08-29,2016
...,...,...,...,...,...,...,...,...,...
10462229,989699,espolon anejo x ha,1022200.0,NaN,3,750,461.0,2016-08-10,2016
11356046,989699,espolon anejo x ha,1022200.0,NaN,3,750,461.0,2016-08-10,2016
11368340,989699,espolon anejo x ha,1022200.0,NaN,3,750,461.0,2016-08-10,2016
11430290,903369,hussong's reposado tequila 100% agave,1022200.0,NaN,6,750,300.0,2016-08-15,2016
11453485,989320,corralejo gran anejo,1022200.0,NaN,3,1000,255.0,2016-08-22,2016

In [27]:
# Create a CategoryCode list with the most recent category names
CategoryCodes_df = product.loc[(product['CategoryName'].notnull())].sort_values(['CategoryCode','CategoryName','Date']).drop_duplicates(subset = ['CategoryCode'], keep = 'last')
CategoryCodes_df.head(25)

,ProductID,ProductDescription,CategoryCode,CategoryName,Pack,BottleVolume,VendorID,Date,Year
7801799,926577,glen oaks whiskey buy the barrel,1011000.0,american whiskies,6,750,566.0,2021-09-23,2021
6967502,25608,seagrams 7 crown,1011100.0,blended whiskies,6,1750,260.0,2022-01-31,2022
6967542,17958,evan williams black,1011200.0,straight bourbon whiskies,6,1750,259.0,2022-01-31,2022
3842079,921946,wild turkey kentucky spirit buy the barrel,1011250.0,single barrel bourbon whiskies,6,750,461.0,2019-08-08,2019
11549216,86692,jack daniel's tennessee fire,1011300.0,tennessee whiskies,12,750,85.0,2016-08-26,2016
6967412,26820,jack daniels old #7 black label flat,1011400.0,tennessee whiskies,24,375,85.0,2022-01-31,2022
12709502,927080,ri(1) whiskey,1011500.0,straight rye whiskies,6,750,65.0,2018-08-03,2018
6967119,27102,templeton rye 4yr,1011600.0,straight rye whiskies,6,750,255.0,2022-01-31,2022
6962118,926215,sooh balcones single malt lineage,1011700.0,corn whiskies,6,750,469.0,2022-01-31,2022
8372255,927357,cedar ridge single malt single barrel select,1011800.0,iowa distillery whiskies,6,750,125.0,2020-02-20,2020
5007968,987952,kavalan concertmaster,1012000.0,imported whiskies,6,750,391.0,2021-11-01,2021
6967555,11776,black velvet,1012100.0,canadian whiskies,12,750,259.0,2022-01-31,2022
6967401,9278,old smuggler scotch pet,1012200.0,scotch whiskies,6,1750,460.0,2022-01-31,2022
16940481,943675,benromach 10yr,1012210.0,single malt scotch,6,750,313.0,2018-06-13,2018
6967513,5038,glenlivet 12yr,1012300.0,single malt scotch,6,1750,370.0,2022-01-31,2022
11282550,15606,green spot,1012400.0,japanese whisky,6,750,370.0,2016-07-28,2016
9167927,902152,sauza cien anos blanco,1022100.0,tequila,12,750,65.0,2020-04-17,2020
6967537,88116,milagro silver,1022200.0,100% agave tequila,6,750,240.0,2022-01-31,2022
6964196,89566,monte alban mezcal,1022300.0,mezcal,12,750,421.0,2022-01-31,2022
6962585,38071,state vodka mini,1031000.0,american vodka,12,50,617.0,2022-01-31,2022
15700902,905309,yahara bay vodka,1031080.0,vodka 80 proof,6,100,885.0,2017-11-30,2017
11487855,40926,smirnoff silver vodka 90 prf,1031090.0,other proof vodka,12,750,260.0,2016-08-26,2016
6967539,37994,smirnoff 80prf,1031100.0,american vodkas,24,375,260.0,2022-01-31,2022
20589071,40570,skinnygirl bare naked,1031110.0,low proof vodka,12,750,65.0,2015-07-01,2015
11696394,940576,skinnygirl tangerine,1031200.0,vodka flavored,12,750,65.0,2018-10-01,2018

In [28]:
CategoryCodes_df.shape[0]

109

In [29]:
# Consolidate the CategoryName values
Merged_Product_Category = product.merge(CategoryCodes_df[['CategoryCode', 'CategoryName']], on = 'CategoryCode', how = 'left')
Merged_Product_Category.drop(columns = 'CategoryName_x', inplace = True)
Merged_Product_Category.rename(columns = {'CategoryName_y': 'CategoryName'}, inplace = True)
product = Merged_Product_Category.copy()
product.head()

,ProductID,ProductDescription,CategoryCode,Pack,BottleVolume,VendorID,Date,Year,CategoryName
0,29287,barton gin,1041100.0,12,1000,55.0,2015-02-16,2015,american dry gins
1,18196,ezra brooks 50 mo ky sour mash bourbon,1011200.0,12,750,434.0,2015-04-30,2015,straight bourbon whiskies
2,81406,thunder 101 peppermint schnapps,1081300.0,12,750,434.0,2012-10-01,2012,peppermint schnapps
3,45276,paramount white rum,1062200.0,12,750,434.0,2013-07-30,2013,white rum
4,34729,stolichnaya elit vodka,1032080.0,6,750,277.0,2014-07-23,2014,imported vodka

In [30]:
# Checking that there is only one CategoryName per CategoryCode
product.groupby(['CategoryCode','CategoryName'])['Pack'].count()

CategoryCode  CategoryName
1011000.0     american whiskies                             1
1011100.0     blended whiskies                        1005102
1011200.0     straight bourbon whiskies               1414595
1011250.0     single barrel bourbon whiskies             9273
1011300.0     tennessee whiskies                       264762
1011400.0     tennessee whiskies                       370451
1011500.0     straight rye whiskies                     72171
1011600.0     straight rye whiskies                     97177
1011700.0     corn whiskies                              9074
1011800.0     iowa distillery whiskies                    362
1012000.0     imported whiskies                            31
1012100.0     canadian whiskies                       2230891
1012200.0     scotch whiskies                          411066
1012210.0     single malt scotch                        82714
1012300.0     single malt scotch                       201224
1012400.0     japanese whisky                          163926
1022100.0     tequila                                  720051
1022200.0     100% agave tequila                       384440
1022300.0     mezcal                                     7721
1031000.0     american vodka                             5350
1031080.0     vodka 80 proof                          1265976
1031090.0     other proof vodka                          3398
1031100.0     american vodkas                         2076480
1031110.0     low proof vodka                            1565
1031200.0     vodka flavored                          1148337
1032000.0     imported vodka                             1682
1032080.0     imported vodka                           404049
1032100.0     imported vodkas                          444373
1032200.0     imported vodka - misc                    514148
1032230.0     imported vodka - cherry                      14
1041100.0     american dry gins                        515582
1041150.0     flavored gins                             12010
1041200.0     flavored gin                              16987
1041300.0     american sloe gins                         4314
1042000.0     imported gins                                29
1042100.0     imported dry gins                        255733
1051010.0     american grape brandies                  243144
1051100.0     apricot brandies                         453002
1051110.0     blackberry brandies                       59714
1051120.0     cherry brandies                           13216
1051140.0     peach brandies                            15070
1051150.0     miscellaneous  brandies                    4215
1052010.0     imported grape brandies                  155694
1052100.0     imported brandies                        276312
1062050.0     barbados rum                               9909
1062100.0     jamaica rum                               97709
1062200.0     white rum                                706741
1062300.0     flavored rum                             316574
1062310.0     spiced rum                               530323
1062400.0     spiced rum                               634013
1062500.0     flavored rum                             333691
1070000.0     cocktails / rtd                             990
1070100.0     temporary  & specialty packages              35
1071100.0     cocktails /rtd                           663476
1081000.0     american cordials & liqueurs               2327
1081010.0     american amaretto                         53417
1081015.0     imported amaretto                         12753
1081020.0     anisette                                   1441
1081030.0     coffee liqueurs                           75511
1081100.0     coffee liqueurs                           79592
1081200.0     cream liqueurs                           508140
1081210.0     creme de almond                            1631
1081220.0     dark creme de cacao                        6591
1081230.0     white creme de cacao                       7213
1081240.0     green creme de menthe                      8961
1081250.0     white creme de menthe                      2459
1081300.0     peppermint schnapps                      436367
1081305.0     apple schnapps                            33100
1081312.0     butterscotch schnapps                     33865
1081315.0     cinnamon schnapps                         34235
1081317.0     grape schnapps                            13044
1081330.0     peach schnapps                            63400
1081335.0     raspberry schnapps                        13207
1081340.0     root beer schnapps                        13615
1081350.0     spearmint schnapps                         2928
1081355.0     strawberry schnapps                       11853
1081365.0     tropical fruit schnapps                   10644
1081370.0     watermelon schnapps                       17844
1081380.0     miscellaneous schnapps                    32375
1081390.0     imported schnapps                        169243
1081400.0     triple sec                               479025
1081500.0     triple sec                                52064
1081600.0     whiskey liqueur                          997691
1081700.0     distilled spirits specialty               60286
1081900.0     misc. american cordials & liqueurs       127056
1082000.0     imported cordials & liqueurs             299582
1082010.0     amaretto - imported                         102
1082015.0     imported amaretto                            36
1082100.0     imported cordials & liqueur                8391
1082200.0     imported schnapps                        206569
1082300.0     schnapps - imported                           1
1082390.0     schnapps - imported                          16
1082900.0     misc. imported cordials & liqueurs       246158
1090000.0     distilled spirits specialty                 307
1091000.0     american distilled spirits specialty        279
1091100.0     american distilled spirit specialty       28507
1091200.0     neutral grain spirits                     29249
1091300.0     neutral grain spirits flavored            43607
1091400.0     iowa distilleries                          2855
1092000.0     imported distilled spirits specialty        140
1092100.0     imported distilled spirit specialty       17133
1101100.0     american alcohol                          24357
1501100.0     high proof beer - american                   32
1700000.0     temporary &  specialty packages           16778
1701100.0     temporary & specialty packages           208733
1701200.0     holiday vap                                1657
1900000.0     delisted / special order items                1
1901100.0     delisted items                               63
1901200.0     special order items                       27066
Name: Pack, dtype: int64

### III. Looking at ProductID numbers with mulitiple ProductDescription entries

In [31]:
# Create a ProductID list with the most recent category names
ProductID_df = product.loc[(product['ProductDescription'].notnull())].sort_values(['ProductID','ProductDescription','Date']).drop_duplicates(subset = ['ProductID'], keep = 'last')
ProductID_df.head(25)

,ProductID,ProductDescription,CategoryCode,Pack,BottleVolume,VendorID,Date,Year,CategoryName
15732523,100001,absente w/glass & spoon pack,1701100.0,24,100,305.0,2017-11-29,2017,temporary & specialty packages
11748660,100005,the glenlivet w/50ml 15yr & founders reserve,1701200.0,6,850,370.0,2016-10-06,2016,holiday vap
13325694,100006,crystal head vodka w/ crystal stopper,1032000.0,6,750,255.0,2016-12-12,2016,imported vodka
6963509,100015,fireball cinnamon whiskey bag in box,1081600.0,3,3500,421.0,2022-01-31,2022,whiskey liqueur
16597627,100017,hornitos reposado w/ hornitos plata 200ml,1701100.0,6,1950,65.0,2018-04-17,2018,temporary & specialty packages
16839407,100018,barenjager honey w/2 rocks glasses,1701100.0,6,750,338.0,2018-05-25,2018,temporary & specialty packages
13227106,100022,forty creek w/thermos,NaN,6,750,461.0,2016-11-17,2016,NaN
12552575,100024,fernet branca liqueur w/2 bodega glasses,1701100.0,6,750,368.0,2019-02-14,2019,temporary & specialty packages
13103195,100025,three olives w/3-50mls,1032200.0,6,900,395.0,2016-11-01,2016,imported vodka - misc
13688488,100026,absolut w/fever tree ginger beer,NaN,6,750,370.0,2017-01-31,2017,NaN
16618153,100027,absolut citron w/ fever tree ginger beer,1701100.0,6,750,370.0,2018-04-23,2018,temporary & specialty packages
15917621,100032,hennessy xo w/2 glasses,1701100.0,6,750,420.0,2017-12-28,2017,temporary & specialty packages
13458663,100033,disaronno amaretto etro w/2 glasses,NaN,6,750,130.0,2016-12-22,2016,NaN
11736314,100035,templeton 4yr rye w/2 tumbler glasses,1701100.0,6,750,255.0,2018-10-04,2018,temporary & specialty packages
15850578,100037,smirnoff 1.75l pet w/2-50ml smirnoff peppermint,1701100.0,6,1850,260.0,2017-12-19,2017,temporary & specialty packages
4879766,100040,grand marnier w/2 shot glasses,1701100.0,6,750,619.0,2020-01-13,2020,temporary & specialty packages
15908897,100041,hennessy v.s.o.p privilege w/2 glasses,NaN,6,750,420.0,2017-12-29,2017,NaN
13359461,100046,disaronno etro mignon counter unit,1701200.0,1,3000,130.0,2016-12-12,2016,holiday vap
15840204,100051,glenmorangie original w/2 craftsman cups,1701100.0,6,750,420.0,2017-12-14,2017,temporary & specialty packages
14182728,100054,jim beam double oak in gift box,1701100.0,12,750,65.0,2017-04-21,2017,temporary & specialty packages
6967388,10006,scoresby rare scotch,1012200.0,12,750,421.0,2022-01-28,2022,scotch whiskies
13495376,100065,ardbeg 10yr quadrant & 50ml uigeadail,1012300.0,6,800,420.0,2016-12-29,2016,single malt scotch
15897066,100068,cedar ridge american whiskey explorer pack,NaN,4,1000,125.0,2017-12-22,2017,NaN
15710885,100071,absolut w/ p&m ginger beer,1032100.0,3,1750,370.0,2017-11-29,2017,imported vodkas
13826371,100075,"jim beam apple, kentucky fire & honey 3-pack",1701100.0,8,375,65.0,2017-02-28,2017,temporary & specialty packages

In [32]:
# Consolidate the ProductDescription values
Merged_Product_Descrip = product.merge(ProductID_df[['ProductID', 'ProductDescription']], on = 'ProductID', how = 'left')
Merged_Product_Descrip.drop(columns = 'ProductDescription_x', inplace = True)
Merged_Product_Descrip.rename(columns = {'ProductDescription_y': 'ProductDescription'}, inplace = True)
product = Merged_Product_Descrip.copy()
product.head()

,ProductID,CategoryCode,Pack,BottleVolume,VendorID,Date,Year,CategoryName,ProductDescription
0,29287,1041100.0,12,1000,55.0,2015-02-16,2015,american dry gins,barton gin
1,18196,1011200.0,12,750,434.0,2015-04-30,2015,straight bourbon whiskies,ezra brooks sour mash bourbon
2,81406,1081300.0,12,750,434.0,2012-10-01,2012,peppermint schnapps,thunder 101 peppermint schnapps
3,45276,1062200.0,12,750,434.0,2013-07-30,2013,white rum,paramount white rum
4,34729,1032080.0,6,750,277.0,2014-07-23,2014,imported vodka,stolichnaya elit vodka

### IV. Add Proof data

In [36]:
proof = product_df[['ItemNumber', 'Proof']]

In [37]:
proof.head()

  ItemNumber  Proof
0     901141    114
1      65017     84
2      88152     80
3     903796     80
4     905846     80

In [38]:
proof.rename(columns = {'ItemNumber':'ProductID'}, inplace = True)
proof['ProductID'] = proof['ProductID'].apply(str)

/opt/conda/lib/python3.9/site-packages/pandas/core/frame.py:5039: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().rename(
/tmp/ipykernel_1798/2601084771.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  proof['ProductID'] = proof['ProductID'].apply(str)

In [39]:
# Attaching proof to the product database.
Proof_Merge = product.merge(proof[['ProductID', 'Proof']], on = 'ProductID', how = 'left')
Proof_Merge.head()

,ProductID,CategoryCode,Pack,BottleVolume,VendorID,Date,Year,CategoryName,ProductDescription,Proof
0,29287,1041100.0,12,1000,55.0,2015-02-16,2015,american dry gins,barton gin,80.0
1,18196,1011200.0,12,750,434.0,2015-04-30,2015,straight bourbon whiskies,ezra brooks sour mash bourbon,90.0
2,81406,1081300.0,12,750,434.0,2012-10-01,2012,peppermint schnapps,thunder 101 peppermint schnapps,101.0
3,45276,1062200.0,12,750,434.0,2013-07-30,2013,white rum,paramount white rum,80.0
4,34729,1032080.0,6,750,277.0,2014-07-23,2014,imported vodka,stolichnaya elit vodka,80.0

### V. Add Category Groups

In [40]:
product = Proof_Merge.copy()

In [41]:
product['CategoryName'] = product['CategoryName'].apply(str)
# Create category grouping.
product['CategoryGroup'] = np.where(product['CategoryName'].str.contains('rum'),'rum',
                                    np.where(product['CategoryName'].str.contains('gin'),'gin', 
                                    np.where(product['CategoryName'].str.contains('cocktail'), 'cocktail',
                                    np.where(product['CategoryName'].str.contains('brandy|brandies'), 'brandy',
                                    np.where(product['CategoryName'].str.contains('whisk|bourbon|scotch'), 'whisky',
                                    np.where(product['CategoryName'].str.contains('tequila|mezcal'), 'tequila',
                                    np.where(product['CategoryName'].str.contains('schnapps'), 'schnapps',
                                    np.where(product['CategoryName'].str.contains('vodka'), 'vodka',
                                    np.where(product['CategoryName'].str.contains('spirit'), 'spirit',
                                    np.where(product['CategoryName'].str.contains('liqueur'), 'liqueur',
                                    np.where(product['CategoryName'].str.contains('brandies'), 'brandy', 'other')))))))))))

In [42]:
product['CategoryGroup'].value_counts()

whisky      933542
vodka       785512
rum         334406
liqueur     240191
tequila     221963
other       205386
brandy      193499
schnapps    178638
gin         159253
cocktail    144443
spirit       52780
Name: CategoryGroup, dtype: int64

In [43]:
product.loc[product['CategoryGroup'] == 'other']['CategoryName'].value_counts()

triple sec                         110685
temporary & specialty packages      58610
special order items                 15336
american amaretto                    5004
temporary &  specialty packages      4015
green creme de menthe                1788
american alcohol                     1660
white creme de cacao                 1610
dark creme de cacao                  1412
imported amaretto                    1144
nan                                   908
white creme de menthe                 775
anisette                              736
iowa distilleries                     648
creme de almond                       608
holiday vap                           274
amaretto - imported                    88
delisted items                         42
temporary  & specialty packages        25
high proof beer - american             17
delisted / special order items          1
Name: CategoryName, dtype: int64

In [44]:
product.head()

,ProductID,CategoryCode,Pack,BottleVolume,VendorID,Date,Year,CategoryName,ProductDescription,Proof,CategoryGroup
0,29287,1041100.0,12,1000,55.0,2015-02-16,2015,american dry gins,barton gin,80.0,gin
1,18196,1011200.0,12,750,434.0,2015-04-30,2015,straight bourbon whiskies,ezra brooks sour mash bourbon,90.0,whisky
2,81406,1081300.0,12,750,434.0,2012-10-01,2012,peppermint schnapps,thunder 101 peppermint schnapps,101.0,schnapps
3,45276,1062200.0,12,750,434.0,2013-07-30,2013,white rum,paramount white rum,80.0,rum
4,34729,1032080.0,6,750,277.0,2014-07-23,2014,imported vodka,stolichnaya elit vodka,80.0,vodka

## âœ… Final Data Cleaning - Product Table

In [34]:
product.shape

(23154845, 9)

In [35]:
# Drop duplicates
product.drop_duplicates(keep = 'first', inplace = True)
product.shape

(3449613, 9)

In [45]:
product_final = product[['ProductID', 'ProductDescription', 'CategoryCode', 'CategoryName', 'CategoryGroup', 'Pack', 'BottleVolume', 'Proof', 'VendorID']]

In [46]:
product_final.head()

,ProductID,ProductDescription,CategoryCode,CategoryName,CategoryGroup,Pack,BottleVolume,Proof,VendorID
0,29287,barton gin,1041100.0,american dry gins,gin,12,1000,80.0,55.0
1,18196,ezra brooks sour mash bourbon,1011200.0,straight bourbon whiskies,whisky,12,750,90.0,434.0
2,81406,thunder 101 peppermint schnapps,1081300.0,peppermint schnapps,schnapps,12,750,101.0,434.0
3,45276,paramount white rum,1062200.0,white rum,rum,12,750,80.0,434.0
4,34729,stolichnaya elit vodka,1032080.0,imported vodka,vodka,6,750,80.0,277.0

In [48]:
product_final.isnull().sum(axis = 0)

ProductID                 0
ProductDescription        0
CategoryCode            888
CategoryName              0
CategoryGroup             0
Pack                      0
BottleVolume              0
Proof                 50550
VendorID                  9
dtype: int64

In [47]:
%%time
#product_final.to_csv('../data/product_final.csv', index_label = False)

CPU times: user 3 Âµs, sys: 0 ns, total: 3 Âµs
Wall time: 5.48 Âµs

# 2. Product Price Table

In [ ]:
product_price_col = ['ItemNumber',
                  'Date',
                  'StateBottleRetail',
                  'StateBottleCost']

product_price = sales[product_price_col].copy()

## ðŸ§¹ Data Cleaning - Product Price Table

In [50]:
# Rename some columns
product_price.rename(columns = {'ItemNumber':'ProductID'}, inplace = True)

In [51]:
product_price['Date'] = pd.to_datetime(product_price['Date'])

In [52]:
product_price.head()

  ProductID       Date  StateBottleRetail  StateBottleCost
0     29287 2015-02-16               5.88             3.92
1     18196 2015-04-30              10.26             6.84
2     81406 2012-10-01               9.75             6.50
3     45276 2013-07-30               5.77             3.85
4     34729 2014-07-23              44.99            29.99

In [54]:
# if inconsistencies exist for a ProductID (for a given day), use the mean of StateBottleRetail and StateBottleCost respectively
product_price = product_price.groupby(['ProductID', 'Date']).agg({'StateBottleRetail':'mean', 'StateBottleCost':'mean'}).reset_index()

## âœ… Final Data Cleaning - Product Price Table

In [62]:
product_price.shape

(3462008, 4)

In [63]:
# Drop duplicates
product_price.drop_duplicates(keep = 'first', inplace = True)
product_price.shape

(3462008, 4)

In [64]:
product_price.head()

  ProductID       Date  StateBottleRetail  StateBottleCost
0       101 2016-10-13              29.97            19.98
1       101 2016-10-17              29.97            19.98
2       101 2016-10-18              29.97            19.98
3       101 2016-10-19              29.97            19.98
4       101 2016-10-26              29.97            19.98

In [55]:
product_price.isnull().sum(axis = 0)

ProductID            0
Date                 0
StateBottleRetail    3
StateBottleCost      3
dtype: int64

In [56]:
# Removing missing
product_price.dropna(inplace = True)
product_price.isnull().sum(axis = 0)

ProductID            0
Date                 0
StateBottleRetail    0
StateBottleCost      0
dtype: int64

In [ ]:
# product_price.to_csv('../data/product_price_final.csv', index_label = False)

# 3. Vendor Table

In [69]:
vendor_col = ['VendorNumber',
              'VendorName',
              'Date']

vendor = sales[vendor_col].copy()

## ðŸ§¹ Data Cleaning - Vendor Table

In [70]:
# Rename some columns
vendor.rename(columns = {'VendorNumber':'VendorID'}, inplace = True)

In [71]:
vendor['Date'] = pd.to_datetime(vendor['Date'])

In [72]:
vendor.head()

   VendorID             VendorName       Date
0      55.0  Sazerac North America 2015-02-16
1     434.0         Luxco-St Louis 2015-04-30
2     434.0         Luxco-St Louis 2012-10-01
3     434.0         Luxco-St Louis 2013-07-30
4     277.0            Stoli Group 2014-07-23

In [74]:
# Create a VendorID list with the most recent VendorName
VendorID_df = vendor.loc[(vendor['VendorName'].notnull())].sort_values(['VendorID','VendorName','Date']).drop_duplicates(subset = ['VendorID'], keep = 'last')
VendorID_df.head(25)

          VendorID                             VendorName       Date
11505006      10.0                 A Hardy / U.S.A., Ltd. 2016-08-25
19553086      14.0             Adamba Imports Int'l, Inc. 2014-07-01
20309406      27.0      Anheuser-Busch/Longtail Libations 2012-10-02
10832504      33.0                            Bmc Imports 2016-05-16
11549647      35.0                   Bacardi U.S.A., Inc. 2016-08-26
1686166       51.0            Barrel House Distilling Co. 2012-11-29
11552203      55.0                  Sazerac North America 2016-08-26
20246530      61.0       Biagio Cru And Estate Wines, LLC 2014-09-22
6967486       65.0                        Jim Beam Brands 2022-01-31
21480235      68.0              Belmont Farms Of Va., Inc 2012-12-21
10920877      69.0                          Bendistillery 2016-06-06
11500931      79.0                Breckenridge Distillery 2016-08-24
2092063       80.0                    Boston Beer Company 2015-11-12
791418        82.0                      BuzzBox Beverages 2015-02-11
11549216      85.0               Brown-Forman Corporation 2016-08-26
11482413      86.0                   Broadbent Distillery 2016-08-26
17355041      89.0           Temperance Distiling Company 2012-05-01
11510424      90.0           Carriage House Imports, Ltd. 2016-08-24
6962086       91.0                          Castle Brands 2022-01-31
11502313     100.0                     Aiko Importers Inc 2016-08-26
11467171     101.0               Artisan Grain Distillery 2016-08-17
149277       102.0                   Broadslab Distillery 2015-01-16
629017       104.0                        ASDSpirits, LLC 2015-06-03
11480040     107.0             Blaum Bros. Distilling Co. 2016-08-23
5911957      108.0  CVI Brands / California Vineyards Inc 2021-12-07

In [79]:
# Consolidate the VendorName entries
Merged_Vendor_Names = vendor.merge(VendorID_df[['VendorID', 'VendorName']], on = 'VendorID', how = 'left')
Merged_Vendor_Names.drop(columns = 'VendorName_x', inplace = True)
Merged_Vendor_Names.rename(columns = {'VendorName_y': 'VendorName'}, inplace = True)
vendor = Merged_Vendor_Names.copy()
vendor.drop('Date',axis=1)
vendor.head()

   VendorID       Date             VendorName
0      55.0 2015-02-16  Sazerac North America
1     434.0 2015-04-30         Luxco-St Louis
2     434.0 2012-10-01         Luxco-St Louis
3     434.0 2013-07-30         Luxco-St Louis
4     277.0 2014-07-23            Stoli Group

## âœ… Final Data Cleaning - Vendor Table

In [76]:
vendor.shape

(23154845, 3)

In [77]:
# Drop duplicates
vendor.drop_duplicates(keep = 'first', inplace = True)
vendor.shape

(171929, 3)

In [78]:
vendor.head()

   VendorID       Date             VendorName
0      55.0 2015-02-16  Sazerac North America
1     434.0 2015-04-30         Luxco-St Louis
2     434.0 2012-10-01         Luxco-St Louis
3     434.0 2013-07-30         Luxco-St Louis
4     277.0 2014-07-23            Stoli Group

In [66]:
vendor.isnull().sum(axis = 0)

VendorNumber    9
VendorName      7
Date            0
dtype: int64

In [ ]:
# vendor.to_csv('../data/vendor_final.csv', index_label = False)

# 4. Store Table

In [ ]:
store_col = ['StoreNumber',
             'StoreName',
             'Address',
             'City',
             'ZipCode',
             'StoreLocation',
             'CountyNumber',
             'County']

store = sales[store_col].drop_duplicates(store_col, keep = 'first').copy()

store.dropna(inplace = True)

## ðŸ§¹ Data Cleaning - Store Table

In [ ]:
# Data Cleaning

In [ ]:
# store.to_csv('../data/store_final.csv', index_label = False)

# 5. Transaction Table

In [ ]:
transaction_col = ['Invoice/ItemNumber',
                   'Date',
                   'StoreNumber',
                   'ItemNumber',
                   'VendorNumber',
                   'Category',
                   'BottlesSold',
                   'VolumeSold(Gallons)',
                   'Sale(Dollars)']

transaction = sales[transaction_col].copy()

## ðŸ§¹ Data Cleaning - Transaction Table

In [ ]:
# Data Cleaning
transaction.rename(columns = {'Invoice/ItemNumber':'ItemNumber',
                              'ItemNumber':'ProductNumber',
                            'VolumeSold(Gallons)':'VolumeSold',
                             'Sale(Dollars)':'Sale'}, inplace = True)

In [ ]:
# transaction.to_csv('../data/transaction_final.csv', index_label = False)