In [1]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
plt.style.use('ggplot')
plt.rcParams.update({'font.size': 20})

In [2]:
pd.set_option('display.max_rows', 500)
pd.set_option('display.max_columns', 500)

# County Population By Year

In [3]:
iowa_pop_temp = pd.read_csv('../data/County_Population_in_Iowa_by_Year.csv')

In [4]:
iowa_pop_temp.head()

,FIPS,County,Year,Population,Primary Point
0,19169,Story County,July 01 2011,91136,POINT (-93.4650448 42.0362415)
1,19065,Fayette County,July 01 1995,22129,POINT (-91.8443207 42.8625919)
2,19089,Howard County,July 01 2002,9794,POINT (-92.3171989 43.3567673)
3,19007,Appanoose County,July 01 1999,13761,POINT (-92.8686104 40.7431635)
4,19043,Clayton County,July 01 2012,17946,POINT (-91.34143280000002 42.8447493)

In [5]:
iowa_pop_temp.rename(columns={'Year': 'Date', 'County': 'County_0'}, inplace=True)

In [6]:
iowa_pop_temp.head()

,FIPS,County_0,Date,Population,Primary Point
0,19169,Story County,July 01 2011,91136,POINT (-93.4650448 42.0362415)
1,19065,Fayette County,July 01 1995,22129,POINT (-91.8443207 42.8625919)
2,19089,Howard County,July 01 2002,9794,POINT (-92.3171989 43.3567673)
3,19007,Appanoose County,July 01 1999,13761,POINT (-92.8686104 40.7431635)
4,19043,Clayton County,July 01 2012,17946,POINT (-91.34143280000002 42.8447493)

In [7]:
ptemp = iowa_pop_temp['Date']
ptemp_split0 = ptemp.str.split(' ', n=- 1, expand=True)
ptemp_split = ptemp_split0.drop(ptemp_split0.columns[[1]], axis=1)

iowa_pop_temp["Year"] = ptemp_split[2]

In [8]:
ctemp = iowa_pop_temp['County_0']
ctemp_split0 = ctemp.str.split(' ', n=- 1, expand=True)
ctemp_split = ctemp_split0.drop(ctemp_split0.columns[[1]], axis=1)

iowa_pop_temp["County"] = ctemp_split[0]
iowa_pop_temp["County"] = iowa_pop_temp["County"].str.upper()
iowa_pop_temp = iowa_pop_temp.sort_values(by=['County','Year'])

In [9]:
iowa_pop_temp.head()

,FIPS,County_0,Date,Population,Primary Point,Year,County
85,19001,Adair County,April 01 1990,8409,POINT (-94.4709413 41.3307464),1990,ADAIR
715,19001,Adair County,July 01 1991,8397,POINT (-94.4709413 41.3307464),1991,ADAIR
1346,19001,Adair County,July 01 1992,8430,POINT (-94.4709413 41.3307464),1992,ADAIR
1984,19001,Adair County,July 01 1993,8441,POINT (-94.4709413 41.3307464),1993,ADAIR
2783,19001,Adair County,July 01 1994,8483,POINT (-94.4709413 41.3307464),1994,ADAIR

In [10]:
iowa_pop_temp['County'].unique()

array(['ADAIR', 'ADAMS', 'ALLAMAKEE', 'APPANOOSE', 'AUDUBON', 'BENTON',
       'BLACK', 'BOONE', 'BREMER', 'BUCHANAN', 'BUENA', 'BUTLER',
       'CALHOUN', 'CARROLL', 'CASS', 'CEDAR', 'CERRO', 'CHEROKEE',
       'CHICKASAW', 'CLARKE', 'CLAY', 'CLAYTON', 'CLINTON', 'CRAWFORD',
       'DALLAS', 'DAVIS', 'DECATUR', 'DELAWARE', 'DES', 'DICKINSON',
       'DUBUQUE', 'EMMET', 'FAYETTE', 'FLOYD', 'FRANKLIN', 'FREMONT',
       'GREENE', 'GRUNDY', 'GUTHRIE', 'HAMILTON', 'HANCOCK', 'HARDIN',
       'HARRISON', 'HENRY', 'HOWARD', 'HUMBOLDT', 'IDA', 'IOWA',
       'JACKSON', 'JASPER', 'JEFFERSON', 'JOHNSON', 'JONES', 'KEOKUK',
       'KOSSUTH', 'LEE', 'LINN', 'LOUISA', 'LUCAS', 'LYON', 'MADISON',
       'MAHASKA', 'MARION', 'MARSHALL', 'MILLS', 'MITCHELL', 'MONONA',
       'MONROE', 'MONTGOMERY', 'MUSCATINE', "O'BRIEN", 'OSCEOLA', 'PAGE',
       'PALO', 'PLYMOUTH', 'POCAHONTAS', 'POLK', 'POTTAWATTAMIE',
       'POWESHIEK', 'RINGGOLD', 'SAC', 'SCOTT', 'SHELBY', 'SIOUX',
       'STORY', 'TAMA', 'TAYLOR', 'UNION', 'VAN', 'WAPELLO', 'WARREN',
       'WASHINGTON', 'WAYNE', 'WEBSTER', 'WINNEBAGO', 'WINNESHIEK',
       'WOODBURY', 'WORTH', 'WRIGHT'], dtype=object)

In [11]:
#iowa_pop_temp.loc[iowa_pop_temp['County']=="O'BRIEN",'County']='OBRIEN'
iowa_pop_temp.loc[iowa_pop_temp['County']=="BLACK",'County']='BLACK HAWK'
iowa_pop_temp.loc[iowa_pop_temp['County']=="BUENA",'County']='BUENA VISTA'
iowa_pop_temp.loc[iowa_pop_temp['County']=="CERRO",'County']='CERRO GORDO'
iowa_pop_temp.loc[iowa_pop_temp['County']=="DES",'County']='DES MOINES'
iowa_pop_temp.loc[iowa_pop_temp['County']=="PALO",'County']='PALO ALTO'
iowa_pop_temp.loc[iowa_pop_temp['County']=="VAN",'County']='VAN BUREN'

In [12]:
iowa_pop_temp['County'].unique()

array(['ADAIR', 'ADAMS', 'ALLAMAKEE', 'APPANOOSE', 'AUDUBON', 'BENTON',
       'BLACK HAWK', 'BOONE', 'BREMER', 'BUCHANAN', 'BUENA VISTA',
       'BUTLER', 'CALHOUN', 'CARROLL', 'CASS', 'CEDAR', 'CERRO GORDO',
       'CHEROKEE', 'CHICKASAW', 'CLARKE', 'CLAY', 'CLAYTON', 'CLINTON',
       'CRAWFORD', 'DALLAS', 'DAVIS', 'DECATUR', 'DELAWARE', 'DES MOINES',
       'DICKINSON', 'DUBUQUE', 'EMMET', 'FAYETTE', 'FLOYD', 'FRANKLIN',
       'FREMONT', 'GREENE', 'GRUNDY', 'GUTHRIE', 'HAMILTON', 'HANCOCK',
       'HARDIN', 'HARRISON', 'HENRY', 'HOWARD', 'HUMBOLDT', 'IDA', 'IOWA',
       'JACKSON', 'JASPER', 'JEFFERSON', 'JOHNSON', 'JONES', 'KEOKUK',
       'KOSSUTH', 'LEE', 'LINN', 'LOUISA', 'LUCAS', 'LYON', 'MADISON',
       'MAHASKA', 'MARION', 'MARSHALL', 'MILLS', 'MITCHELL', 'MONONA',
       'MONROE', 'MONTGOMERY', 'MUSCATINE', "O'BRIEN", 'OSCEOLA', 'PAGE',
       'PALO ALTO', 'PLYMOUTH', 'POCAHONTAS', 'POLK', 'POTTAWATTAMIE',
       'POWESHIEK', 'RINGGOLD', 'SAC', 'SCOTT', 'SHELBY', 'SIOUX',
       'STORY', 'TAMA', 'TAYLOR', 'UNION', 'VAN BUREN', 'WAPELLO',
       'WARREN', 'WASHINGTON', 'WAYNE', 'WEBSTER', 'WINNEBAGO',
       'WINNESHIEK', 'WOODBURY', 'WORTH', 'WRIGHT'], dtype=object)

# County Income By Year

In [13]:
iowa_income_temp = pd.read_csv('../data/Annual_Personal_Income_for_State_of_Iowa_by_County.csv')

In [14]:
iowa_income_temp.head()

,Row ID,Geography ID,Name,Variable Code,Variable,Value,Variable Unit,Date,Location
0,19001_2020_CAINC1-1_annual,19001,"Adair, IA",CAINC1-1,Personal income,398280,Thousands of dollars,12/31/2020,POINT (-94.478164 41.328528)
1,19003_2020_CAINC1-1_annual,19003,"Adams, IA",CAINC1-1,Personal income,213735,Thousands of dollars,12/31/2020,POINT (-94.696906 41.021656)
2,19005_2020_CAINC1-1_annual,19005,"Allamakee, IA",CAINC1-1,Personal income,697196,Thousands of dollars,12/31/2020,POINT (-91.382751 43.274964)
3,19007_2020_CAINC1-1_annual,19007,"Appanoose, IA",CAINC1-1,Personal income,523611,Thousands of dollars,12/31/2020,POINT (-92.873061 40.744296)
4,19011_2020_CAINC1-1_annual,19011,"Benton, IA",CAINC1-1,Personal income,1455638,Thousands of dollars,12/31/2020,POINT (-92.05763 42.092547)

In [15]:
temp = iowa_income_temp['Date']
temp_split0 = temp.str.split('/', n=- 1, expand=True)
temp_split = temp_split0.drop(temp_split0.columns[[1]], axis=1)

iowa_income_temp["Year"] = temp_split[2]

In [16]:
temp2 = iowa_income_temp['Name']
temp2_split0 = temp2.str.split(',', n=- 1, expand=True)
temp2_split = temp2_split0.drop(temp2_split0.columns[[1]], axis=1)

iowa_income_temp["County"] = temp2_split[0]
iowa_income_temp['County'] = iowa_income_temp['County'].str.upper()

In [17]:
iowa_income_temp.head()

,Row ID,Geography ID,Name,Variable Code,Variable,Value,Variable Unit,Date,Location,Year,County
0,19001_2020_CAINC1-1_annual,19001,"Adair, IA",CAINC1-1,Personal income,398280,Thousands of dollars,12/31/2020,POINT (-94.478164 41.328528),2020,ADAIR
1,19003_2020_CAINC1-1_annual,19003,"Adams, IA",CAINC1-1,Personal income,213735,Thousands of dollars,12/31/2020,POINT (-94.696906 41.021656),2020,ADAMS
2,19005_2020_CAINC1-1_annual,19005,"Allamakee, IA",CAINC1-1,Personal income,697196,Thousands of dollars,12/31/2020,POINT (-91.382751 43.274964),2020,ALLAMAKEE
3,19007_2020_CAINC1-1_annual,19007,"Appanoose, IA",CAINC1-1,Personal income,523611,Thousands of dollars,12/31/2020,POINT (-92.873061 40.744296),2020,APPANOOSE
4,19011_2020_CAINC1-1_annual,19011,"Benton, IA",CAINC1-1,Personal income,1455638,Thousands of dollars,12/31/2020,POINT (-92.05763 42.092547),2020,BENTON

In [18]:
iowa_income_temp['Variable'].unique()

array(['Personal income', 'Per capita personal income'], dtype=object)

In [19]:
iowa_income = iowa_income_temp.loc[iowa_income_temp['Variable'] == 'Per capita personal income']

In [20]:
iowa_income = iowa_income.sort_values(by=['County','Year'])

In [21]:
iowa_income.head()

,Row ID,Geography ID,Name,Variable Code,Variable,Value,Variable Unit,Date,Location,Year,County
2494,19001_1997_CAINC1-3_annual,19001,"Adair, IA",CAINC1-3,Per capita personal income,21269,Dollars,12/31/1997,POINT (-94.478164 41.328528),1997,ADAIR
2493,19001_1998_CAINC1-3_annual,19001,"Adair, IA",CAINC1-3,Per capita personal income,22118,Dollars,12/31/1998,POINT (-94.478164 41.328528),1998,ADAIR
2492,19001_1999_CAINC1-3_annual,19001,"Adair, IA",CAINC1-3,Per capita personal income,22793,Dollars,12/31/1999,POINT (-94.478164 41.328528),1999,ADAIR
2491,19001_2000_CAINC1-3_annual,19001,"Adair, IA",CAINC1-3,Per capita personal income,25608,Dollars,12/31/2000,POINT (-94.478164 41.328528),2000,ADAIR
2490,19001_2001_CAINC1-3_annual,19001,"Adair, IA",CAINC1-3,Per capita personal income,26047,Dollars,12/31/2001,POINT (-94.478164 41.328528),2001,ADAIR

In [22]:
iowa_income['County'].unique()

array(['ADAIR', 'ADAMS', 'ALLAMAKEE', 'APPANOOSE', 'AUDUBON', 'BENTON',
       'BLACK HAWK', 'BOONE', 'BREMER', 'BUCHANAN', 'BUENA VISTA',
       'BUTLER', 'CALHOUN', 'CARROLL', 'CASS', 'CEDAR', 'CERRO GORDO',
       'CHEROKEE', 'CHICKASAW', 'CLARKE', 'CLAY', 'CLAYTON', 'CLINTON',
       'CRAWFORD', 'DALLAS', 'DAVIS', 'DECATUR', 'DELAWARE', 'DES MOINES',
       'DICKINSON', 'DUBUQUE', 'EMMET', 'FAYETTE', 'FLOYD', 'FRANKLIN',
       'FREMONT', 'GREENE', 'GRUNDY', 'GUTHRIE', 'HAMILTON', 'HANCOCK',
       'HARDIN', 'HARRISON', 'HENRY', 'HOWARD', 'HUMBOLDT', 'IDA', 'IOWA',
       'JACKSON', 'JASPER', 'JEFFERSON', 'JOHNSON', 'JONES', 'KEOKUK',
       'KOSSUTH', 'LEE', 'LINN', 'LOUISA', 'LUCAS', 'LYON', 'MADISON',
       'MAHASKA', 'MARION', 'MARSHALL', 'MILLS', 'MITCHELL', 'MONONA',
       'MONROE', 'MONTGOMERY', 'MUSCATINE', "O'BRIEN", 'OSCEOLA', 'PAGE',
       'PALO ALTO', 'PLYMOUTH', 'POCAHONTAS', 'POLK', 'POTTAWATTAMIE',
       'POWESHIEK', 'RINGGOLD', 'SAC', 'SCOTT', 'SHELBY', 'SIOUX',
       'STORY', 'TAMA', 'TAYLOR', 'UNION', 'VAN BUREN', 'WAPELLO',
       'WARREN', 'WASHINGTON', 'WAYNE', 'WEBSTER', 'WINNEBAGO',
       'WINNESHIEK', 'WOODBURY', 'WORTH', 'WRIGHT'], dtype=object)

In [23]:
#iowa_income.loc[iowa_income['County']=="O'BRIEN",'County']='OBRIEN'

In [24]:
iowa_income['County'].unique()

array(['ADAIR', 'ADAMS', 'ALLAMAKEE', 'APPANOOSE', 'AUDUBON', 'BENTON',
       'BLACK HAWK', 'BOONE', 'BREMER', 'BUCHANAN', 'BUENA VISTA',
       'BUTLER', 'CALHOUN', 'CARROLL', 'CASS', 'CEDAR', 'CERRO GORDO',
       'CHEROKEE', 'CHICKASAW', 'CLARKE', 'CLAY', 'CLAYTON', 'CLINTON',
       'CRAWFORD', 'DALLAS', 'DAVIS', 'DECATUR', 'DELAWARE', 'DES MOINES',
       'DICKINSON', 'DUBUQUE', 'EMMET', 'FAYETTE', 'FLOYD', 'FRANKLIN',
       'FREMONT', 'GREENE', 'GRUNDY', 'GUTHRIE', 'HAMILTON', 'HANCOCK',
       'HARDIN', 'HARRISON', 'HENRY', 'HOWARD', 'HUMBOLDT', 'IDA', 'IOWA',
       'JACKSON', 'JASPER', 'JEFFERSON', 'JOHNSON', 'JONES', 'KEOKUK',
       'KOSSUTH', 'LEE', 'LINN', 'LOUISA', 'LUCAS', 'LYON', 'MADISON',
       'MAHASKA', 'MARION', 'MARSHALL', 'MILLS', 'MITCHELL', 'MONONA',
       'MONROE', 'MONTGOMERY', 'MUSCATINE', "O'BRIEN", 'OSCEOLA', 'PAGE',
       'PALO ALTO', 'PLYMOUTH', 'POCAHONTAS', 'POLK', 'POTTAWATTAMIE',
       'POWESHIEK', 'RINGGOLD', 'SAC', 'SCOTT', 'SHELBY', 'SIOUX',
       'STORY', 'TAMA', 'TAYLOR', 'UNION', 'VAN BUREN', 'WAPELLO',
       'WARREN', 'WASHINGTON', 'WAYNE', 'WEBSTER', 'WINNEBAGO',
       'WINNESHIEK', 'WOODBURY', 'WORTH', 'WRIGHT'], dtype=object)

In [25]:
iowa_income['County'] = iowa_income['County'].str.lower()

In [26]:
iowa_income['Year'].unique()

array(['1997', '1998', '1999', '2000', '2001', '2002', '2003', '2004',
       '2005', '2006', '2007', '2008', '2009', '2010', '2011', '2012',
       '2013', '2014', '2015', '2016', '2017', '2018', '2019', '2020'],
      dtype=object)

In [27]:
iowa_income.head()

,Row ID,Geography ID,Name,Variable Code,Variable,Value,Variable Unit,Date,Location,Year,County
2494,19001_1997_CAINC1-3_annual,19001,"Adair, IA",CAINC1-3,Per capita personal income,21269,Dollars,12/31/1997,POINT (-94.478164 41.328528),1997,adair
2493,19001_1998_CAINC1-3_annual,19001,"Adair, IA",CAINC1-3,Per capita personal income,22118,Dollars,12/31/1998,POINT (-94.478164 41.328528),1998,adair
2492,19001_1999_CAINC1-3_annual,19001,"Adair, IA",CAINC1-3,Per capita personal income,22793,Dollars,12/31/1999,POINT (-94.478164 41.328528),1999,adair
2491,19001_2000_CAINC1-3_annual,19001,"Adair, IA",CAINC1-3,Per capita personal income,25608,Dollars,12/31/2000,POINT (-94.478164 41.328528),2000,adair
2490,19001_2001_CAINC1-3_annual,19001,"Adair, IA",CAINC1-3,Per capita personal income,26047,Dollars,12/31/2001,POINT (-94.478164 41.328528),2001,adair

# Unemployment Data

In [28]:
iowa_employ_temp = pd.read_csv('../data/Iowa_Local_Area_Unemployment_Statistics.csv')

In [29]:
iowa_employ_temp.head()

,State FIPS,AREA TYPE,AREA NAME,YEAR,MONTH,SEASONALLY ADJUSTED,LABORFORCE,EMPLOYMENT,UNEMPLOYMENT,UNEMPLOYMENT RATE,LABFORCE_PART RATE
0,19,State,Iowa,2021,December,0,1660700,1611700,49000,2.9,NaN
1,19,State,Iowa,2021,December,1,1662700,1604800,57900,3.5,66.9
2,19,State,Iowa,2021,November,1,1661300,1599600,61700,3.7,66.8
3,19,State,Iowa,2021,November,0,1666300,1622200,44000,2.6,NaN
4,19,State,Iowa,2021,October,1,1661000,1596200,64800,3.9,66.8

In [30]:
iowa_employ_temp.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51216 entries, 0 to 51215
Data columns (total 11 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   State FIPS           51216 non-null  int64
 1   AREA TYPE            51216 non-null  object
 2   AREA NAME            51216 non-null  object
 3   YEAR                 51216 non-null  int64
 4   MONTH                51216 non-null  object
 5   SEASONALLY ADJUSTED  51216 non-null  int64
 6   LABORFORCE           51216 non-null  int64
 7   EMPLOYMENT           51216 non-null  int64
 8   UNEMPLOYMENT         51216 non-null  int64
 9   UNEMPLOYMENT RATE    51216 non-null  float64
 10  LABFORCE_PART RATE   264 non-null    float64
dtypes: float64(2), int64(6), object(3)
memory usage: 4.3+ MB

In [31]:
iowa_employ_temp['YEAR'] = iowa_employ_temp['YEAR'].apply(str)

In [32]:
iowa_employ_temp['AREA TYPE'].unique()

array(['State', 'County', 'Cities', 'Congressional District',
       'Metropolitan Statistical Area', 'Micropolitan Statistical Area',
       'Combined Statistical Area', 'IWD Workforce Regions (2020)',
       'Council of Government (COG)', 'Community College District'],
      dtype=object)

In [33]:
iowa_employ_temp_short = iowa_employ_temp.loc[(iowa_employ_temp['AREA TYPE']=='County') & (iowa_employ_temp['MONTH']=='July')]

In [34]:
iowa_employ_temp_short.head()

,State FIPS,AREA TYPE,AREA NAME,YEAR,MONTH,SEASONALLY ADJUSTED,LABORFORCE,EMPLOYMENT,UNEMPLOYMENT,UNEMPLOYMENT RATE,LABFORCE_PART RATE
533,19,County,Adair County,2021,July,0,4300,4180,120,2.7,NaN
545,19,County,Adair County,2020,July,0,4050,3880,170,4.2,NaN
557,19,County,Adair County,2019,July,0,4370,4280,100,2.2,NaN
569,19,County,Adair County,2018,July,0,4280,4190,90,2.1,NaN
581,19,County,Adair County,2017,July,0,4280,4180,100,2.4,NaN

In [35]:
iowa_employ_temp_short.rename(columns={'AREA NAME': 'County_0'}, inplace=True)

ctemp = iowa_employ_temp_short['County_0']
ctemp_split0 = ctemp.str.split(' ', n=- 1, expand=True)
ctemp_split = ctemp_split0.drop(ctemp_split0.columns[[1]], axis=1)

iowa_employ_temp_short["County"] = ctemp_split[0]
iowa_employ_temp_short["County"] = iowa_employ_temp_short["County"].str.upper()

/opt/conda/lib/python3.9/site-packages/pandas/core/frame.py:5039: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().rename(
/tmp/ipykernel_1547/950894183.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iowa_employ_temp_short["County"] = ctemp_split[0]
/tmp/ipykernel_1547/950894183.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iowa_employ_temp_short["County"] = iowa_employ_temp_short["County"].str.upper()

In [36]:
iowa_employ_temp_short.head()

,State FIPS,AREA TYPE,County_0,YEAR,MONTH,SEASONALLY ADJUSTED,LABORFORCE,EMPLOYMENT,UNEMPLOYMENT,UNEMPLOYMENT RATE,LABFORCE_PART RATE,County
533,19,County,Adair County,2021,July,0,4300,4180,120,2.7,NaN,ADAIR
545,19,County,Adair County,2020,July,0,4050,3880,170,4.2,NaN,ADAIR
557,19,County,Adair County,2019,July,0,4370,4280,100,2.2,NaN,ADAIR
569,19,County,Adair County,2018,July,0,4280,4190,90,2.1,NaN,ADAIR
581,19,County,Adair County,2017,July,0,4280,4180,100,2.4,NaN,ADAIR

In [37]:
iowa_employ_temp_short['County'].unique()

array(['ADAIR', 'ADAMS', 'ALLAMAKEE', 'APPANOOSE', 'AUDUBON', 'BENTON',
       'BLACK', 'BOONE', 'BREMER', 'BUCHANAN', 'BUENA', 'BUTLER',
       'CALHOUN', 'CARROLL', 'CASS', 'CEDAR', 'CERRO', 'CHEROKEE',
       'CHICKASAW', 'CLARKE', 'CLAY', 'CLAYTON', 'CLINTON', 'CRAWFORD',
       'DALLAS', 'DAVIS', 'DECATUR', 'DELAWARE', 'DES', 'DICKINSON',
       'DUBUQUE', 'EMMET', 'FAYETTE', 'FLOYD', 'FRANKLIN', 'FREMONT',
       'GREENE', 'GRUNDY', 'GUTHRIE', 'HAMILTON', 'HANCOCK', 'HARDIN',
       'HARRISON', 'HENRY', 'HOWARD', 'HUMBOLDT', 'IDA', 'IOWA',
       'JACKSON', 'JASPER', 'JEFFERSON', 'JOHNSON', 'JONES', 'KEOKUK',
       'KOSSUTH', 'LEE', 'LINN', 'LOUISA', 'LUCAS', 'LYON', 'MADISON',
       'MAHASKA', 'MARION', 'MARSHALL', 'MILLS', 'MITCHELL', 'MONONA',
       'MONROE', 'MONTGOMERY', 'MUSCATINE', "O'BRIEN", 'OSCEOLA', 'PAGE',
       'PALO', 'PLYMOUTH', 'POCAHONTAS', 'POLK', 'POTTAWATTAMIE',
       'POWESHIEK', 'RINGGOLD', 'SAC', 'SCOTT', 'SHELBY', 'SIOUX',
       'STORY', 'TAMA', 'TAYLOR', 'UNION', 'VAN', 'WAPELLO', 'WARREN',
       'WASHINGTON', 'WAYNE', 'WEBSTER', 'WINNEBAGO', 'WINNESHIEK',
       'WOODBURY', 'WORTH', 'WRIGHT'], dtype=object)

In [38]:
#iowa_employ_temp_short.loc[iowa_employ['County']=="O'BRIEN",'County']='OBRIEN'
iowa_employ_temp_short.loc[iowa_employ_temp_short['County']=="BLACK",'County']='BLACK HAWK'
iowa_employ_temp_short.loc[iowa_employ_temp_short['County']=="BUENA",'County']='BUENA VISTA'
iowa_employ_temp_short.loc[iowa_employ_temp_short['County']=="CERRO",'County']='CERRO GORDO'
iowa_employ_temp_short.loc[iowa_employ_temp_short['County']=="DES",'County']='DES MOINES'
iowa_employ_temp_short.loc[iowa_employ_temp_short['County']=="PALO",'County']='PALO ALTO'
iowa_employ_temp_short.loc[iowa_employ_temp_short['County']=="VAN",'County']='VAN BUREN'

/opt/conda/lib/python3.9/site-packages/pandas/core/indexing.py:1817: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)

In [39]:
iowa_employ_temp_short['County'] = iowa_employ_temp_short['County'].str.lower()

/tmp/ipykernel_1547/1844984288.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iowa_employ_temp_short['County'] = iowa_employ_temp_short['County'].str.lower()

- Compare to Store County Spellings

In [40]:
store = pd.read_csv('../data/store.csv')

In [41]:
np.sort(store['County'].unique())

array(['adair', 'adams', 'allamakee', 'appanoose', 'audubon', 'benton',
       'black hawk', 'boone', 'bremer', 'buchanan', 'buena vista',
       'butler', 'calhoun', 'carroll', 'cass', 'cedar', 'cerro gordo',
       'cherokee', 'chickasaw', 'clarke', 'clay', 'clayton', 'clinton',
       'crawford', 'dallas', 'davis', 'decatur', 'delaware', 'des moines',
       'dickinson', 'dubuque', 'emmet', 'fayette', 'floyd', 'franklin',
       'fremont', 'greene', 'grundy', 'guthrie', 'hamilton', 'hancock',
       'hardin', 'harrison', 'henry', 'howard', 'humboldt', 'ida', 'iowa',
       'jackson', 'jasper', 'jefferson', 'johnson', 'jones', 'keokuk',
       'kossuth', 'lee', 'linn', 'louisa', 'lucas', 'lyon', 'madison',
       'mahaska', 'marion', 'marshall', 'mills', 'mitchell', 'monona',
       'monroe', 'montgomery', 'muscatine', "o'brien", 'osceola', 'page',
       'palo alto', 'plymouth', 'pocahontas', 'polk', 'pottawattamie',
       'poweshiek', 'ringgold', 'sac', 'scott', 'shelby', 'sioux',
       'story', 'tama', 'taylor', 'union', 'van buren', 'wapello',
       'warren', 'washington', 'wayne', 'webster', 'winnebago',
       'winneshiek', 'woodbury', 'worth', 'wright'], dtype=object)

In [42]:
# Digging into the discrepancies 
temp2 = list(iowa_income['County'].unique())
temp1 = list(store['County'].unique())
s = set(temp2)
temp3 = [x for x in temp1 if x not in s]
temp3

[]

# Load the 2021 Population data (from Jungu)

In [43]:
iowa_pop_temp['County'] = iowa_pop_temp['County'].str.lower()

In [44]:
iowa_pop_temp['Year'].unique()

array(['1990', '1991', '1992', '1993', '1994', '1995', '1996', '1997',
       '1998', '1999', '2000', '2001', '2002', '2003', '2004', '2005',
       '2006', '2007', '2008', '2009', '2010', '2011', '2012', '2013',
       '2014', '2015', '2016', '2017', '2018', '2019', '2020'],
      dtype=object)

In [45]:
iowa_pop_temp.head()

,FIPS,County_0,Date,Population,Primary Point,Year,County
85,19001,Adair County,April 01 1990,8409,POINT (-94.4709413 41.3307464),1990,adair
715,19001,Adair County,July 01 1991,8397,POINT (-94.4709413 41.3307464),1991,adair
1346,19001,Adair County,July 01 1992,8430,POINT (-94.4709413 41.3307464),1992,adair
1984,19001,Adair County,July 01 1993,8441,POINT (-94.4709413 41.3307464),1993,adair
2783,19001,Adair County,July 01 1994,8483,POINT (-94.4709413 41.3307464),1994,adair

In [46]:
new_pop_temp = pd.read_csv('../data/Iowa county population 2021.csv')

In [47]:
new_pop_temp.head()

,STNAME,CTYNAME,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021
0,Iowa,Adair County,7679,7546,7466,7385,7365,7142,7006,7047,7028,7102,7059,6888
1,Iowa,Adams County,4023,3994,3910,3890,3874,3752,3690,3655,3628,3602,3588,3496
2,Iowa,Allamakee County,14377,14224,14150,14074,14067,13881,13847,13812,13832,13671,13642,13548
3,Iowa,Appanoose County,12861,12853,12713,12659,12678,12587,12515,12367,12467,12525,12430,12335
4,Iowa,Audubon County,6094,6000,5861,5859,5768,5707,5625,5550,5482,5491,5481,5338

In [48]:
new_pop = new_pop_temp[['CTYNAME', '2021']]
new_pop.rename(columns={'2021': 'Population'}, inplace=True)
new_pop['Year'] = '2021'

ctemp = new_pop['CTYNAME']
ctemp_split0 = ctemp.str.split(' ', n=- 1, expand=True)
ctemp_split = ctemp_split0.drop(ctemp_split0.columns[[1]], axis=1)
new_pop["County"] = ctemp_split[0]
new_pop["County"] = new_pop["County"].str.upper()

new_pop.loc[new_pop['County']=="BLACK",'County']='BLACK HAWK'
new_pop.loc[new_pop['County']=="BUENA",'County']='BUENA VISTA'
new_pop.loc[new_pop['County']=="CERRO",'County']='CERRO GORDO'
new_pop.loc[new_pop['County']=="DES",'County']='DES MOINES'
new_pop.loc[new_pop['County']=="PALO",'County']='PALO ALTO'
new_pop.loc[new_pop['County']=="VAN",'County']='VAN BUREN'
new_pop['County'] = new_pop['County'].str.lower()

new_pop_short = new_pop[['County','Year','Population']]

new_pop_short.head()

/opt/conda/lib/python3.9/site-packages/pandas/core/frame.py:5039: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().rename(
/tmp/ipykernel_1547/3911751705.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_pop['Year'] = '2021'
/tmp/ipykernel_1547/3911751705.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_pop["County"] = ctemp_split[0]
/tmp/ipykernel_1547/3911751705.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_pop["County"] = new_pop["County"].str.upper()
/opt/conda/lib/python3.9/site-packages/pandas/core/indexing.py:1817: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)
/tmp/ipykernel_1547/3911751705.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_pop['County'] = new_pop['County'].str.lower()

      County  Year  Population
0      adair  2021        6888
1      adams  2021        3496
2  allamakee  2021       13548
3  appanoose  2021       12335
4    audubon  2021        5338

# Create Final Table

In [49]:
iowa_pop = iowa_pop_temp[['County', 'Year', 'Population']]

In [50]:
iowa_pop_more = pd.concat([iowa_pop, new_pop_short])

In [51]:
iowa_pop_more.head()

     County  Year  Population
85    adair  1990        8409
715   adair  1991        8397
1346  adair  1992        8430
1984  adair  1993        8441
2783  adair  1994        8483

In [52]:
iowa_income = iowa_income[['County', 'Year', 'Value','Location']]
iowa_income.rename(columns={'Value': 'Income_PerCapita'}, inplace=True)

In [53]:
iowa_employ = iowa_employ_temp_short[['County', 'YEAR', 'LABORFORCE', 'EMPLOYMENT', 'UNEMPLOYMENT', 'UNEMPLOYMENT RATE']]
iowa_employ.rename(columns={'YEAR': 'Year'}, inplace=True)

/opt/conda/lib/python3.9/site-packages/pandas/core/frame.py:5039: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().rename(

In [54]:
iowa_pop.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3069 entries, 85 to 650
Data columns (total 3 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   County      3069 non-null   object
 1   Year        3069 non-null   object
 2   Population  3069 non-null   int64
dtypes: int64(1), object(2)
memory usage: 95.9+ KB

In [55]:
iowa_income.head()

     County  Year  Income_PerCapita                      Location
2494  adair  1997             21269  POINT (-94.478164 41.328528)
2493  adair  1998             22118  POINT (-94.478164 41.328528)
2492  adair  1999             22793  POINT (-94.478164 41.328528)
2491  adair  2000             25608  POINT (-94.478164 41.328528)
2490  adair  2001             26047  POINT (-94.478164 41.328528)

In [56]:
iowa_income.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2376 entries, 2494 to 194
Data columns (total 4 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   County            2376 non-null   object
 1   Year              2376 non-null   object
 2   Income_PerCapita  2376 non-null   int64
 3   Location          2376 non-null   object
dtypes: int64(1), object(3)
memory usage: 92.8+ KB

In [57]:
iowa_employ.head()

    County  Year  LABORFORCE  EMPLOYMENT  UNEMPLOYMENT  UNEMPLOYMENT RATE
533  adair  2021        4300        4180           120                2.7
545  adair  2020        4050        3880           170                4.2
557  adair  2019        4370        4280           100                2.2
569  adair  2018        4280        4190            90                2.1
581  adair  2017        4280        4180           100                2.4

In [58]:
iowa_employ.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2178 entries, 533 to 26657
Data columns (total 6 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   County             2178 non-null   object
 1   Year               2178 non-null   object
 2   LABORFORCE         2178 non-null   int64
 3   EMPLOYMENT         2178 non-null   int64
 4   UNEMPLOYMENT       2178 non-null   int64
 5   UNEMPLOYMENT RATE  2178 non-null   float64
dtypes: float64(1), int64(3), object(2)
memory usage: 119.1+ KB

In [59]:
Merged_pop_income = iowa_pop_more.merge(iowa_income, on = ['County', 'Year'], how = 'left')
Merged_pop_income.head()

  County  Year  Population  Income_PerCapita Location
0  adair  1990        8409               NaN      NaN
1  adair  1991        8397               NaN      NaN
2  adair  1992        8430               NaN      NaN
3  adair  1993        8441               NaN      NaN
4  adair  1994        8483               NaN      NaN

In [60]:
Merged_pop_income_employ = Merged_pop_income.merge(iowa_employ, on = ['County', 'Year'], how = 'left')
Merged_pop_income_employ.head()

,County,Year,Population,Income_PerCapita,Location,LABORFORCE,EMPLOYMENT,UNEMPLOYMENT,UNEMPLOYMENT RATE
0,adair,1990,8409,NaN,NaN,NaN,NaN,NaN,NaN
1,adair,1991,8397,NaN,NaN,NaN,NaN,NaN,NaN
2,adair,1992,8430,NaN,NaN,NaN,NaN,NaN,NaN
3,adair,1993,8441,NaN,NaN,NaN,NaN,NaN,NaN
4,adair,1994,8483,NaN,NaN,NaN,NaN,NaN,NaN

In [61]:
county = Merged_pop_income_employ.copy()

In [62]:
county = county.loc[county['Year'].isin(['2010','2011','2012','2013','2014','2015','2016','2017','2018','2019','2020','2021'])]

In [63]:
county.sort_values(by = ['County','Year'])

,County,Year,Population,Income_PerCapita,Location,LABORFORCE,EMPLOYMENT,UNEMPLOYMENT,UNEMPLOYMENT RATE
20,adair,2010,7682,35209.0,POINT (-94.478164 41.328528),4190.0,3970.0,220.0,5.2
21,adair,2011,7546,40680.0,POINT (-94.478164 41.328528),4200.0,4020.0,180.0,4.3
22,adair,2012,7468,41687.0,POINT (-94.478164 41.328528),4140.0,3960.0,180.0,4.3
23,adair,2013,7387,43967.0,POINT (-94.478164 41.328528),4250.0,4080.0,160.0,3.8
24,adair,2014,7368,44450.0,POINT (-94.478164 41.328528),4260.0,4110.0,150.0,3.6
...,...,...,...,...,...,...,...,...,...
3065,wright,2017,12765,46665.0,POINT (-93.734735 42.733007),6660.0,6420.0,230.0,3.5
3066,wright,2018,12690,51879.0,POINT (-93.734735 42.733007),6620.0,6450.0,170.0,2.6
3067,wright,2019,12562,48770.0,POINT (-93.734735 42.733007),7150.0,6950.0,190.0,2.7
3068,wright,2020,12943,52825.0,POINT (-93.734735 42.733007),6760.0,6460.0,300.0,4.4
3167,wright,2021,12434,NaN,NaN,6940.0,6670.0,270.0,3.9